totalTime : 3598
<ul>
<li>Energy consumption: 0.62 kWh (621.50 Wh)</li>
	<ul>
	<li>Green: 0.43 kWh (429.12/886.10 Wh 48.43%)</li>
	<li>Brown: 0.19 kWh (192.38 Wh)</li>
	<li>Idle: 0.12 kWh (115.14 Wh)</li>
	<li>Work: 0.51 kWh (506.36 Wh)</li>
	<li>Energy cost: $0.0195</li>
	<li>Peak power: 545.00 W (0.55 kW x $13.61/kW = $7.42)</li>
	<li>Total cost: $7.01 + $7.42 = $14.43</li>
	</ul>
<li>Nodes: 7</li>
	<ul>
	<li>Run:   3.67</li>
	<li>Up:    3.69</li>
	<li>On:    3.78</li>
	<li>Total: 7.00</li>
	<li>Utilization: 52.36%</li>
	</ul>
<li>Experiment duration: 3598 s</li>
	<ul>
	<li>Utilization: 35.41% = 53511.00 / 3598.00x7x6</li>
	<li>Utilization maps: 52.45% = 52837.00 / 3598.00x7x4</li>
	</ul>
<li>Jobs: 55</li>
	<ul>
	<li>Run: 58</li>
	<li>Finished: 55/105</li>
	<li>Deadline actions: 0</li>
	<li>Violate (3600s): 0/64 (0s 0.00%)</li>
	<li>Avg tasks: 33.02 tasks/job</li>
	<li>Avg length: 922.60 seconds/job</li>
	<li>Avg energy: 8.73 Wh/job</li>
	<li>Avg total time: 1057.00 seconds</li>
	<ul>
		<li>High: 0.00 seconds</li>
		<li>Normal: 1057.00 seconds</li>
	</ul>
	</ul>
<li>Tasks: 1915 (1856 + 57)</li>
	<ul>
	<li>Running time: 53511 s (52837 + 674)</li>
	<li>Avg length: 27.94 s (28.47 + 11.82)</li>
	<li>Avg energy: 0.26 Wh (0.32 Wh)</li>
	</ul>
<li>Task performance:</li>
	<ul>
	<li>0.53 tasks/second</li>
	<ul>
		<li>High:   0.00 tasks/second</li>
		<li>Normal: 0.53 tasks/second</li>
	</ul>
	<li>9.96 tasks/hour / Wh</li>
	<li>98390.93 tasks/hour / $</li>
	</ul>
<li>Job performance:</li>
	<ul>
	<li>55.03 jobs/hour</li>
	<li>0.29 jobs/hour / Wh</li>
	<li>2825.85 jobs/hour / $</li>
	<li>$0.26/job</li>
	</ul>
<li>Replicated files: 0</li>
	<ul>
	<li>Start: 0</li>
	<li>Done: 0</li>
	</ul>
</ul>
Summary spreadsheet<br/>
0.43 0.89 0.19 0.62 0.01947 0.55 13.61 7.42 52.45 35.41 3.69 3.78 52.36 55 0.53 55.03 0 0.26<br/>
0.43 0.89 0.19 0.62 0.01947 0.55 13.61 7.42 52.45 35.41 3.69 3.78 52.36 55 0.53 55.03 0 0.26<br/>
