totalTime : 419
<ul>
<li>Energy consumption: 0.02 kWh (16.96 Wh)</li>
	<ul>
	<li>Green: 0.02 kWh (16.96/642.83 Wh 2.64%)</li>
	<li>Brown: 0.00 kWh (0.00 Wh)</li>
	<li>Idle: 0.01 kWh (7.40 Wh)</li>
	<li>Work: 0.01 kWh (9.56 Wh)</li>
	<li>Energy cost: $0.0000</li>
	<li>Peak power: 0.00 W (0.00 kW x $13.61/kW = $0.00)</li>
	<li>Total cost: $0.00 + $0.00 = $0.00</li>
	</ul>
<li>Nodes: 1</li>
	<ul>
	<li>Run:   0.28</li>
	<li>Up:    1.00</li>
	<li>On:    1.00</li>
	<li>Total: 1.00</li>
	<li>Utilization: 28.16%</li>
	</ul>
<li>Experiment duration: 419 s</li>
	<ul>
	<li>Utilization: 15.65% = 459.00 / 419.00x1x7</li>
	<li>Utilization maps: 20.86% = 437.00 / 419.00x1x5</li>
	</ul>
<li>Jobs: 3</li>
	<ul>
	<li>Run: 3</li>
	<li>Finished: 3/4</li>
	<li>Deadline actions: 0</li>
	<li>Violate (3600s): 0/3 (0s 0.00%)</li>
	<li>Avg tasks: 9.00 tasks/job</li>
	<li>Avg length: 153.00 seconds/job</li>
	<li>Avg energy: 3.19 Wh/job</li>
	<li>Avg total time: 89.33 seconds</li>
	<ul>
		<li>High: 0.00 seconds</li>
		<li>Normal: 89.33 seconds</li>
	</ul>
	</ul>
<li>Tasks: 27 (24 + 3)</li>
	<ul>
	<li>Running time: 459 s (437 + 22)</li>
	<li>Avg length: 17.00 s (18.21 + 7.33)</li>
	<li>Avg energy: 0.35 Wh (0.63 Wh)</li>
	</ul>
<li>Task performance:</li>
	<ul>
	<li>0.06 tasks/second</li>
	<ul>
		<li>High:   0.00 tasks/second</li>
		<li>Normal: 0.06 tasks/second</li>
	</ul>
	</ul>
<li>Job performance:</li>
	<ul>
	<li>25.78 jobs/hour</li>
	<li>$0.00/job</li>
	</ul>
<li>Replicated files: 0</li>
	<ul>
	<li>Start: 0</li>
	<li>Done: 0</li>
	</ul>
</ul>
Summary spreadsheet<br/>
0.02 0.64 0.00 0.02 0.00000 0.00 13.61 0.00 20.86 15.65 1.00 1.00 28.16 3 0.06 25.78 0 0.35<br/>
0.02 0.64 0.00 0.02 0.00000 0.00 13.61 0.00 20.86 15.65 1.00 1.00 28.16 3 0.06 25.78 0 0.35<br/>
