totalTime : 179
<ul>
<li>Energy consumption: 0.02 kWh (15.19 Wh)</li>
	<ul>
	<li>Green: 0.02 kWh (15.19/222.83 Wh 6.82%)</li>
	<li>Brown: 0.00 kWh (0.00 Wh)</li>
	<li>Idle: 0.01 kWh (5.73 Wh)</li>
	<li>Work: 0.01 kWh (9.46 Wh)</li>
	<li>Energy cost: $0.0000</li>
	<li>Peak power: 0.00 W (0.00 kW x $13.61/kW = $0.00)</li>
	<li>Total cost: $0.00 + $0.00 = $0.00</li>
	</ul>
<li>Nodes: 7</li>
	<ul>
	<li>Run:   0.00</li>
	<li>Up:    3.08</li>
	<li>On:    3.08</li>
	<li>Total: 7.00</li>
	<li>Utilization: 0.00%</li>
	</ul>
<li>Experiment duration: 179 s</li>
	<ul>
	<li>Utilization: -0.03% = -3.00 / 179.00x7x7</li>
	<li>Utilization maps: 0.00% = 0.00 / 179.00x7x5</li>
	</ul>
<li>Jobs: 0</li>
	<ul>
	<li>Run: 3</li>
	<li>Finished: 0/3</li>
	<li>Deadline actions: 0</li>
	<li>Violate (3600s): 0/3 (0s 0.00%)</li>
	<li>Avg tasks: 1.00 tasks/job</li>
	<li>Avg length: -1.00 seconds/job</li>
	<li>Avg energy: 3.15 Wh/job</li>
