totalTime : 3599
<ul>
<li>Energy consumption: 0.39 kWh (394.47 Wh)</li>
	<ul>
	<li>Green: 0.29 kWh (285.75/885.32 Wh 32.28%)</li>
	<li>Brown: 0.11 kWh (108.71 Wh)</li>
	<li>Idle: 0.12 kWh (115.17 Wh)</li>
	<li>Work: 0.28 kWh (279.30 Wh)</li>
	<li>Energy cost: $0.0105</li>
	<li>Peak power: 545.00 W (0.55 kW x $0.00/kW = $0.00)</li>
	<li>Total cost: $3.78 + $0.00 = $3.78</li>
	</ul>
<li>Nodes: 7</li>
	<ul>
	<li>Run:   0.77</li>
	<li>Up:    3.15</li>
	<li>On:    3.69</li>
	<li>Total: 7.00</li>
	<li>Utilization: 10.96%</li>
	</ul>
<li>Experiment duration: 3599 s</li>
	<ul>
	<li>Utilization: 24.73% = 37383.00 / 3599.00x7x6</li>
	<li>Utilization maps: 34.11% = 34370.00 / 3599.00x7x4</li>
	</ul>
<li>Jobs: 13</li>
	<ul>
	<li>Run: 37</li>
	<li>Finished: 13/104</li>
	<li>Deadline actions: 0</li>
	<li>Violate (3600s): 0/37 (0s 0.00%)</li>
	<li>Avg tasks: 17.38 tasks/job</li>
	<li>Avg length: 1010.35 seconds/job</li>
	<li>Avg energy: 7.55 Wh/job</li>
	<li>Avg total time: 1212.54 seconds</li>
	<ul>
		<li>High: 0.00 seconds</li>
		<li>Normal: 1212.54 seconds</li>
	</ul>
	</ul>
<li>Tasks: 643 (600 + 19)</li>
	<ul>
	<li>Running time: 37383 s (34370 + 136)</li>
	<li>Avg length: 58.14 s (57.28 + 7.16)</li>
	<li>Avg energy: 0.43 Wh (0.61 Wh)</li>
	</ul>
<li>Task performance:</li>
	<ul>
	<li>0.18 tasks/second</li>
	<ul>
		<li>High:   0.00 tasks/second</li>
		<li>Normal: 0.18 tasks/second</li>
	</ul>
	<li>5.92 tasks/hour / Wh</li>
	<li>61287.09 tasks/hour / $</li>
	</ul>
<li>Job performance:</li>
	<ul>
	<li>13.00 jobs/hour</li>
	<li>0.12 jobs/hour / Wh</li>
	<li>1239.09 jobs/hour / $</li>
	<li>$0.29/job</li>
	</ul>
<li>Replicated files: 0</li>
	<ul>
	<li>Start: 0</li>
	<li>Done: 0</li>
	</ul>
</ul>
Summary spreadsheet<br/>
0.29 0.89 0.11 0.39 0.01049 0.55 0.00 0.00 34.11 24.73 3.15 3.69 10.96 13 0.18 13.00 0 0.43<br/>
0.29 0.89 0.11 0.39 0.01049 0.55 0.00 0.00 34.11 24.73 3.15 3.69 10.96 13 0.18 13.00 0 0.43<br/>
