totalTime : 179
<ul>
<li>Energy consumption: 0.04 kWh (39.56 Wh)</li>
	<ul>
	<li>Green: 0.04 kWh (39.56/222.83 Wh 17.75%)</li>
	<li>Brown: 0.00 kWh (0.00 Wh)</li>
	<li>Idle: 0.01 kWh (5.73 Wh)</li>
	<li>Work: 0.03 kWh (33.83 Wh)</li>
	<li>Energy cost: $0.0000</li>
	<li>Peak power: 0.00 W (0.00 kW x $13.61/kW = $0.00)</li>
	<li>Total cost: $0.00 + $0.00 = $0.00</li>
	</ul>
<li>Nodes: 7</li>
	<ul>
	<li>Run:   3.88</li>
	<li>Up:    6.39</li>
	<li>On:    6.56</li>
	<li>Total: 7.00</li>
	<li>Utilization: 55.39%</li>
	</ul>
<li>Experiment duration: 179 s</li>
	<ul>
	<li>Utilization: 30.44% = 2670.00 / 179.00x7x7</li>
	<li>Utilization maps: 42.15% = 2641.00 / 179.00x7x5</li>
	</ul>
<li>Jobs: 3</li>
	<ul>
	<li>Run: 3</li>
	<li>Finished: 3/4</li>
	<li>Deadline actions: 0</li>
	<li>Violate (3600s): 0/3 (0s 0.00%)</li>
	<li>Avg tasks: 33.00 tasks/job</li>
	<li>Avg length: 890.00 seconds/job</li>
	<li>Avg energy: 11.28 Wh/job</li>
	<li>Avg total time: 95.67 seconds</li>
	<ul>
		<li>High: 0.00 seconds</li>
		<li>Normal: 95.67 seconds</li>
	</ul>
	</ul>
<li>Tasks: 99 (96 + 3)</li>
	<ul>
	<li>Running time: 2670 s (2641 + 29)</li>
	<li>Avg length: 26.97 s (27.51 + 9.67)</li>
	<li>Avg energy: 0.34 Wh (0.40 Wh)</li>
	</ul>
<li>Task performance:</li>
	<ul>
	<li>0.55 tasks/second</li>
	<ul>
		<li>High:   0.00 tasks/second</li>
		<li>Normal: 0.55 tasks/second</li>
	</ul>
	</ul>
<li>Job performance:</li>
	<ul>
	<li>60.34 jobs/hour</li>
	<li>$0.00/job</li>
	</ul>
<li>Replicated files: 0</li>
	<ul>
	<li>Start: 0</li>
	<li>Done: 0</li>
	</ul>
</ul>
Summary spreadsheet<br/>
0.04 0.22 0.00 0.04 0.00000 0.00 13.61 0.00 42.15 30.44 6.39 6.56 55.39 3 0.55 60.34 0 0.34<br/>
0.04 0.22 0.00 0.04 0.00000 0.00 13.61 0.00 42.15 30.44 6.39 6.56 55.39 3 0.55 60.34 0 0.34<br/>
