totalTime : 239
<ul>
<li>Energy consumption: 0.03 kWh (29.29 Wh)</li>
	<ul>
	<li>Green: 0.03 kWh (29.29/316.17 Wh 9.26%)</li>
	<li>Brown: 0.00 kWh (0.00 Wh)</li>
	<li>Idle: 0.01 kWh (7.65 Wh)</li>
	<li>Work: 0.02 kWh (21.64 Wh)</li>
	<li>Energy cost: $0.0000</li>
	<li>Peak power: 0.00 W (0.00 kW x $13.61/kW = $0.00)</li>
	<li>Total cost: $0.00 + $0.00 = $0.00</li>
	</ul>
<li>Nodes: 7</li>
	<ul>
	<li>Run:   0.00</li>
	<li>Up:    5.29</li>
	<li>On:    5.29</li>
	<li>Total: 7.00</li>
	<li>Utilization: 0.00%</li>
	</ul>
<li>Experiment duration: 239 s</li>
	<ul>
	<li>Utilization: -0.03% = -3.00 / 239.00x7x6</li>
	<li>Utilization maps: 0.00% = 0.00 / 239.00x7x4</li>
	</ul>
<li>Jobs: 0</li>
	<ul>
	<li>Run: 3</li>
	<li>Finished: 0/3</li>
	<li>Deadline actions: 0</li>
	<li>Violate (3600s): 0/3 (0s 0.00%)</li>
	<li>Avg tasks: 1.00 tasks/job</li>
	<li>Avg length: -1.00 seconds/job</li>
	<li>Avg energy: 7.21 Wh/job</li>
