totalTime : 179
<ul>
<li>Energy consumption: 0.04 kWh (39.09 Wh)</li>
	<ul>
	<li>Green: 0.04 kWh (39.09/222.83 Wh 17.54%)</li>
	<li>Brown: 0.00 kWh (0.00 Wh)</li>
	<li>Idle: 0.01 kWh (5.73 Wh)</li>
	<li>Work: 0.03 kWh (33.36 Wh)</li>
	<li>Energy cost: $0.0000</li>
	<li>Peak power: 0.00 W (0.00 kW x $13.61/kW = $0.00)</li>
	<li>Total cost: $0.00 + $0.00 = $0.00</li>
	</ul>
<li>Nodes: 7</li>
	<ul>
	<li>Run:   3.75</li>
	<li>Up:    6.18</li>
	<li>On:    6.46</li>
	<li>Total: 7.00</li>
	<li>Utilization: 53.63%</li>
	</ul>
<li>Experiment duration: 179 s</li>
	<ul>
	<li>Utilization: 34.86% = 2621.00 / 179.00x7x6</li>
	<li>Utilization maps: 51.72% = 2592.00 / 179.00x7x4</li>
	</ul>
<li>Jobs: 3</li>
	<ul>
	<li>Run: 3</li>
	<li>Finished: 3/4</li>
	<li>Deadline actions: 0</li>
	<li>Violate (3600s): 0/3 (0s 0.00%)</li>
	<li>Avg tasks: 33.00 tasks/job</li>
	<li>Avg length: 873.67 seconds/job</li>
	<li>Avg energy: 11.12 Wh/job</li>
	<li>Avg total time: 95.00 seconds</li>
	<ul>
		<li>High: 0.00 seconds</li>
		<li>Normal: 95.00 seconds</li>
	</ul>
	</ul>
<li>Tasks: 99 (96 + 3)</li>
	<ul>
	<li>Running time: 2621 s (2592 + 29)</li>
	<li>Avg length: 26.47 s (27.00 + 9.67)</li>
	<li>Avg energy: 0.34 Wh (0.39 Wh)</li>
	</ul>
<li>Task performance:</li>
	<ul>
	<li>0.55 tasks/second</li>
	<ul>
		<li>High:   0.00 tasks/second</li>
		<li>Normal: 0.55 tasks/second</li>
	</ul>
	</ul>
<li>Job performance:</li>
	<ul>
	<li>60.34 jobs/hour</li>
	<li>$0.00/job</li>
	</ul>
<li>Replicated files: 0</li>
	<ul>
	<li>Start: 0</li>
	<li>Done: 0</li>
	</ul>
</ul>
Summary spreadsheet<br/>
0.04 0.22 0.00 0.04 0.00000 0.00 13.61 0.00 51.72 34.86 6.18 6.46 53.63 3 0.55 60.34 0 0.34<br/>
0.04 0.22 0.00 0.04 0.00000 0.00 13.61 0.00 51.72 34.86 6.18 6.46 53.63 3 0.55 60.34 0 0.34<br/>
