totalTime : 3625
<ul>
<li>Energy consumption: 0.39 kWh (391.80 Wh)</li>
	<ul>
	<li>Green: 0.39 kWh (391.80/7052.50 Wh 5.56%)</li>
	<li>Brown: 0.00 kWh (0.00 Wh)</li>
	<li>Idle: 0.12 kWh (116.00 Wh)</li>
	<li>Work: 0.28 kWh (275.80 Wh)</li>
	<li>Energy cost: $0.0000</li>
	<li>Peak power: 0.00 W (0.00 kW x $13.61/kW = $0.00)</li>
	<li>Total cost: $0.00 + $0.00 = $0.00</li>
	</ul>
<li>Nodes: 7</li>
	<ul>
	<li>Run:   0.01</li>
	<li>Up:    4.45</li>
	<li>On:    4.45</li>
	<li>Total: 7.00</li>
	<li>Utilization: 0.12%</li>
	</ul>
<li>Experiment duration: 3625 s</li>
	<ul>
	<li>Utilization: 0.05% = 97.00 / 3625.00x7x7</li>
	<li>Utilization maps: 0.07% = 93.00 / 3625.00x7x5</li>
	</ul>
<li>Jobs: 1</li>
	<ul>
	<li>Run: 1</li>
	<li>Finished: 1/1</li>
	<li>Deadline actions: 0</li>
	<li>Violate (3600s): 0/1 (0s 0.00%)</li>
	<li>Avg tasks: 9.00 tasks/job</li>
	<li>Avg length: 97.00 seconds/job</li>
	<li>Avg energy: 275.80 Wh/job</li>
	<li>Avg total time: 24.00 seconds</li>
	<ul>
		<li>High: 0.00 seconds</li>
		<li>Normal: 24.00 seconds</li>
	</ul>
	</ul>
<li>Tasks: 9 (8 + 1)</li>
	<ul>
	<li>Running time: 97 s (93 + 4)</li>
	<li>Avg length: 10.78 s (11.62 + 4.00)</li>
	<li>Avg energy: 30.64 Wh (43.53 Wh)</li>
	</ul>
<li>Task performance:</li>
	<ul>
	<li>0.00 tasks/second</li>
	<ul>
		<li>High:   0.00 tasks/second</li>
		<li>Normal: 0.00 tasks/second</li>
	</ul>
	</ul>
<li>Job performance:</li>
	<ul>
	<li>0.99 jobs/hour</li>
	<li>$0.00/job</li>
	</ul>
<li>Replicated files: 0</li>
	<ul>
	<li>Start: 0</li>
	<li>Done: 0</li>
	</ul>
</ul>
Summary spreadsheet<br/>
0.39 7.05 0.00 0.39 0.00000 0.00 13.61 0.00 0.07 0.05 4.45 4.45 0.12 1 0.00 0.99 0 30.64<br/>
0.39 7.05 0.00 0.39 0.00000 0.00 13.61 0.00 0.07 0.05 4.45 4.45 0.12 1 0.00 0.99 0 30.64<br/>
