totalTime : 3599
<ul>
<li>Energy consumption: 0.57 kWh (568.11 Wh)</li>
	<ul>
	<li>Green: 0.40 kWh (395.14/885.42 Wh 44.63%)</li>
	<li>Brown: 0.17 kWh (172.97 Wh)</li>
	<li>Idle: 0.12 kWh (115.17 Wh)</li>
	<li>Work: 0.45 kWh (452.94 Wh)</li>
	<li>Energy cost: $0.0176</li>
	<li>Peak power: 545.00 W (0.55 kW x $13.61/kW = $7.42)</li>
	<li>Total cost: $6.35 + $7.42 = $13.77</li>
	</ul>
<li>Nodes: 7</li>
	<ul>
	<li>Run:   2.87</li>
	<li>Up:    3.69</li>
	<li>On:    3.88</li>
	<li>Total: 7.00</li>
	<li>Utilization: 40.97%</li>
	</ul>
<li>Experiment duration: 3599 s</li>
	<ul>
	<li>Utilization: 26.27% = 39708.00 / 3599.00x7x6</li>
	<li>Utilization maps: 38.98% = 39285.00 / 3599.00x7x4</li>
	</ul>
<li>Jobs: 41</li>
	<ul>
	<li>Run: 43</li>
	<li>Finished: 41/105</li>
	<li>Deadline actions: 0</li>
	<li>Violate (3600s): 0/48 (0s 0.00%)</li>
	<li>Avg tasks: 32.49 tasks/job</li>
	<li>Avg length: 923.44 seconds/job</li>
	<li>Avg energy: 10.53 Wh/job</li>
	<li>Avg total time: 1269.61 seconds</li>
	<ul>
		<li>High: 0.00 seconds</li>
		<li>Normal: 1269.61 seconds</li>
	</ul>
	</ul>
<li>Tasks: 1397 (1356 + 41)</li>
	<ul>
	<li>Running time: 39708 s (39285 + 423)</li>
	<li>Avg length: 28.42 s (28.97 + 10.32)</li>
	<li>Avg energy: 0.32 Wh (0.41 Wh)</li>
	</ul>
<li>Task performance:</li>
	<ul>
	<li>0.39 tasks/second</li>
	<ul>
		<li>High:   0.00 tasks/second</li>
		<li>Normal: 0.39 tasks/second</li>
	</ul>
	<li>8.08 tasks/hour / Wh</li>
	<li>79184.32 tasks/hour / $</li>
	</ul>
<li>Job performance:</li>
	<ul>
	<li>41.01 jobs/hour</li>
	<li>0.24 jobs/hour / Wh</li>
	<li>2323.95 jobs/hour / $</li>
	<li>$0.34/job</li>
	</ul>
<li>Replicated files: 0</li>
	<ul>
	<li>Start: 0</li>
	<li>Done: 0</li>
	</ul>
</ul>
Summary spreadsheet<br/>
0.40 0.89 0.17 0.57 0.01765 0.55 13.61 7.42 38.98 26.27 3.69 3.88 40.97 41 0.39 41.01 0 0.32<br/>
0.40 0.89 0.17 0.57 0.01765 0.55 13.61 7.42 38.98 26.27 3.69 3.88 40.97 41 0.39 41.01 0 0.32<br/>
