totalTime : 299
<ul>
<li>Energy consumption: 0.05 kWh (51.66 Wh)</li>
	<ul>
	<li>Green: 0.05 kWh (51.66/409.50 Wh 12.61%)</li>
	<li>Brown: 0.00 kWh (0.00 Wh)</li>
	<li>Idle: 0.01 kWh (9.57 Wh)</li>
	<li>Work: 0.04 kWh (42.09 Wh)</li>
	<li>Energy cost: $0.0000</li>
	<li>Peak power: 0.00 W (0.00 kW x $13.61/kW = $0.00)</li>
	<li>Total cost: $0.00 + $0.00 = $0.00</li>
	</ul>
<li>Nodes: 7</li>
	<ul>
	<li>Run:   1.01</li>
	<li>Up:    7.05</li>
	<li>On:    7.05</li>
	<li>Total: 7.00</li>
	<li>Utilization: 14.48%</li>
	</ul>
<li>Experiment duration: 299 s</li>
	<ul>
	<li>Utilization: 18.14% = 2657.00 / 299.00x7x7</li>
	<li>Utilization maps: 20.97% = 2633.00 / 299.00x7x6</li>
	</ul>
<li>Jobs: 3</li>
	<ul>
	<li>Run: 3</li>
	<li>Finished: 3/3</li>
	<li>Deadline actions: 0</li>
	<li>Violate (3600s): 0/3 (0s 0.00%)</li>
	<li>Avg tasks: 33.00 tasks/job</li>
	<li>Avg length: 885.67 seconds/job</li>
	<li>Avg energy: 14.03 Wh/job</li>
	<li>Avg total time: 92.00 seconds</li>
	<ul>
		<li>High: 0.00 seconds</li>
		<li>Normal: 92.00 seconds</li>
	</ul>
	</ul>
<li>Tasks: 99 (96 + 3)</li>
	<ul>
	<li>Running time: 2657 s (2633 + 24)</li>
	<li>Avg length: 26.84 s (27.43 + 8.00)</li>
	<li>Avg energy: 0.43 Wh (0.52 Wh)</li>
	</ul>
<li>Task performance:</li>
	<ul>
	<li>0.33 tasks/second</li>
	<ul>
		<li>High:   0.00 tasks/second</li>
		<li>Normal: 0.33 tasks/second</li>
	</ul>
	</ul>
<li>Job performance:</li>
	<ul>
	<li>36.12 jobs/hour</li>
	<li>$0.00/job</li>
	</ul>
<li>Replicated files: 0</li>
	<ul>
	<li>Start: 0</li>
	<li>Done: 0</li>
	</ul>
</ul>
Summary spreadsheet<br/>
0.05 0.41 0.00 0.05 0.00000 0.00 13.61 0.00 20.97 18.14 7.05 7.05 14.48 3 0.33 36.12 0 0.43<br/>
0.05 0.41 0.00 0.05 0.00000 0.00 13.61 0.00 20.97 18.14 7.05 7.05 14.48 3 0.33 36.12 0 0.43<br/>
