totalTime : 3599
<ul>
<li>Energy consumption: 0.46 kWh (456.29 Wh)</li>
	<ul>
	<li>Green: 0.35 kWh (351.31/885.91 Wh 39.66%)</li>
	<li>Brown: 0.10 kWh (104.98 Wh)</li>
	<li>Idle: 0.12 kWh (115.17 Wh)</li>
	<li>Work: 0.34 kWh (341.12 Wh)</li>
	<li>Energy cost: $0.0110</li>
	<li>Peak power: 545.00 W (0.55 kW x $13.61/kW = $7.42)</li>
	<li>Total cost: $3.97 + $7.42 = $11.39</li>
	</ul>
<li>Nodes: 7</li>
	<ul>
	<li>Run:   1.94</li>
	<li>Up:    3.15</li>
	<li>On:    3.20</li>
	<li>Total: 7.00</li>
	<li>Utilization: 27.67%</li>
	</ul>
<li>Experiment duration: 3599 s</li>
	<ul>
	<li>Utilization: 18.74% = 28331.00 / 3599.00x7x6</li>
	<li>Utilization maps: 27.80% = 28011.00 / 3599.00x7x4</li>
	</ul>
<li>Jobs: 30</li>
	<ul>
	<li>Run: 30</li>
	<li>Finished: 30/30</li>
	<li>Deadline actions: 0</li>
	<li>Violate (3600s): 0/30 (0s 0.00%)</li>
	<li>Avg tasks: 33.00 tasks/job</li>
	<li>Avg length: 944.37 seconds/job</li>
	<li>Avg energy: 11.37 Wh/job</li>
	<li>Avg total time: 1066.87 seconds</li>
	<ul>
		<li>High: 0.00 seconds</li>
		<li>Normal: 1066.87 seconds</li>
	</ul>
	</ul>
<li>Tasks: 990 (960 + 30)</li>
	<ul>
	<li>Running time: 28331 s (28011 + 320)</li>
	<li>Avg length: 28.62 s (29.18 + 10.67)</li>
	<li>Avg energy: 0.34 Wh (0.46 Wh)</li>
	</ul>
<li>Task performance:</li>
	<ul>
	<li>0.28 tasks/second</li>
	<ul>
		<li>High:   0.00 tasks/second</li>
		<li>Normal: 0.28 tasks/second</li>
	</ul>
	<li>9.43 tasks/hour / Wh</li>
	<li>89880.13 tasks/hour / $</li>
	</ul>
<li>Job performance:</li>
	<ul>
	<li>30.01 jobs/hour</li>
	<li>0.29 jobs/hour / Wh</li>
	<li>2723.64 jobs/hour / $</li>
	<li>$0.38/job</li>
	</ul>
<li>Replicated files: 0</li>
	<ul>
	<li>Start: 0</li>
	<li>Done: 0</li>
	</ul>
</ul>
Summary spreadsheet<br/>
0.35 0.89 0.10 0.46 0.01102 0.55 13.61 7.42 27.80 18.74 3.15 3.20 27.67 30 0.28 30.01 0 0.34<br/>
0.35 0.89 0.10 0.46 0.01102 0.55 13.61 7.42 27.80 18.74 3.15 3.20 27.67 30 0.28 30.01 0 0.34<br/>
