totalTime : 628
<ul>
<li>Energy consumption: 0.08 kWh (80.66 Wh)</li>
	<ul>
	<li>Green: 0.08 kWh (80.66/810.27 Wh 9.95%)</li>
	<li>Brown: 0.00 kWh (0.00 Wh)</li>
	<li>Idle: 0.02 kWh (20.10 Wh)</li>
	<li>Work: 0.06 kWh (60.56 Wh)</li>
	<li>Energy cost: $0.0000</li>
	<li>Peak power: 0.00 W (0.00 kW x $13.61/kW = $0.00)</li>
	<li>Total cost: $0.00 + $0.00 = $0.00</li>
	</ul>
<li>Nodes: 7</li>
	<ul>
	<li>Run:   1.32</li>
	<li>Up:    4.26</li>
	<li>On:    4.32</li>
	<li>Total: 7.00</li>
	<li>Utilization: 18.86%</li>
	</ul>
<li>Experiment duration: 628 s</li>
	<ul>
	<li>Utilization: 7.14% = 2198.00 / 628.00x7x7</li>
	<li>Utilization maps: 9.95% = 2187.00 / 628.00x7x5</li>
	</ul>
<li>Jobs: 2</li>
	<ul>
	<li>Run: 3</li>
	<li>Finished: 2/3</li>
	<li>Deadline actions: 0</li>
	<li>Violate (3600s): 0/3 (0s 0.00%)</li>
	<li>Avg tasks: 31.33 tasks/job</li>
	<li>Avg length: 732.67 seconds/job</li>
	<li>Avg energy: 20.19 Wh/job</li>
	<li>Avg total time: 51.00 seconds</li>
	<ul>
		<li>High: 0.00 seconds</li>
		<li>Normal: 51.00 seconds</li>
	</ul>
	</ul>
<li>Tasks: 94 (92 + 2)</li>
	<ul>
	<li>Running time: 2198 s (2187 + 11)</li>
	<li>Avg length: 23.38 s (23.77 + 5.50)</li>
	<li>Avg energy: 0.64 Wh (0.86 Wh)</li>
	</ul>
<li>Task performance:</li>
	<ul>
	<li>0.15 tasks/second</li>
	<ul>
		<li>High:   0.00 tasks/second</li>
		<li>Normal: 0.15 tasks/second</li>
	</ul>
	</ul>
<li>Job performance:</li>
	<ul>
	<li>11.46 jobs/hour</li>
	<li>$0.00/job</li>
	</ul>
<li>Replicated files: 0</li>
	<ul>
	<li>Start: 0</li>
	<li>Done: 0</li>
	</ul>
</ul>
Summary spreadsheet<br/>
0.08 0.81 0.00 0.08 0.00000 0.00 13.61 0.00 9.95 7.14 4.26 4.32 18.86 2 0.15 11.46 0 0.64<br/>
0.08 0.81 0.00 0.08 0.00000 0.00 13.61 0.00 9.95 7.14 4.26 4.32 18.86 2 0.15 11.46 0 0.64<br/>
