totalTime : 3599
<ul>
<li>Energy consumption: 0.75 kWh (746.76 Wh)</li>
	<ul>
	<li>Green: 0.43 kWh (429.33/885.65 Wh 48.48%)</li>
	<li>Brown: 0.32 kWh (317.43 Wh)</li>
	<li>Idle: 0.12 kWh (115.17 Wh)</li>
	<li>Work: 0.63 kWh (631.59 Wh)</li>
	<li>Energy cost: $0.0342</li>
	<li>Peak power: 995.00 W (1.00 kW x $13.61/kW = $13.55)</li>
	<li>Total cost: $12.30 + $13.55 = $25.85</li>
	</ul>
<li>Nodes: 7</li>
	<ul>
	<li>Run:   4.11</li>
	<li>Up:    4.30</li>
	<li>On:    5.28</li>
	<li>Total: 7.00</li>
	<li>Utilization: 58.71%</li>
	</ul>
<li>Experiment duration: 3599 s</li>
	<ul>
	<li>Utilization: 40.40% = 61074.00 / 3599.00x7x6</li>
	<li>Utilization maps: 59.93% = 60388.00 / 3599.00x7x4</li>
	</ul>
<li>Jobs: 65</li>
	<ul>
	<li>Run: 66</li>
	<li>Finished: 65/105</li>
	<li>Deadline actions: 0</li>
	<li>Violate (3600s): 0/105 (0s 0.00%)</li>
	<li>Avg tasks: 32.82 tasks/job</li>
	<li>Avg length: 925.36 seconds/job</li>
	<li>Avg energy: 9.57 Wh/job</li>
	<li>Avg total time: 915.55 seconds</li>
	<ul>
		<li>High: 915.55 seconds</li>
		<li>Normal: 0.00 seconds</li>
	</ul>
	</ul>
<li>Tasks: 2166 (2101 + 65)</li>
	<ul>
	<li>Running time: 61074 s (60388 + 686)</li>
	<li>Avg length: 28.20 s (28.74 + 10.55)</li>
	<li>Avg energy: 0.29 Wh (0.34 Wh)</li>
	</ul>
<li>Task performance:</li>
	<ul>
	<li>0.60 tasks/second</li>
	<ul>
		<li>High:   0.60 tasks/second</li>
		<li>Normal: 0.00 tasks/second</li>
	</ul>
	<li>6.83 tasks/hour / Wh</li>
	<li>63403.50 tasks/hour / $</li>
	</ul>
<li>Job performance:</li>
	<ul>
	<li>65.02 jobs/hour</li>
	<li>0.20 jobs/hour / Wh</li>
	<li>1902.69 jobs/hour / $</li>
	<li>$0.40/job</li>
	</ul>
<li>Replicated files: 0</li>
	<ul>
	<li>Start: 0</li>
	<li>Done: 0</li>
	</ul>
</ul>
Summary spreadsheet<br/>
0.43 0.89 0.32 0.75 0.03417 1.00 13.61 13.55 59.93 40.40 4.30 5.28 58.71 65 0.60 65.02 0 0.29<br/>
0.43 0.89 0.32 0.75 0.03417 1.00 13.61 13.55 59.93 40.40 4.30 5.28 58.71 65 0.60 65.02 0 0.29<br/>
