totalTime : 179
<ul>
<li>Energy consumption: 0.02 kWh (22.77 Wh)</li>
	<ul>
	<li>Green: 0.02 kWh (22.77/222.83 Wh 10.22%)</li>
	<li>Brown: 0.00 kWh (0.00 Wh)</li>
	<li>Idle: 0.01 kWh (5.73 Wh)</li>
	<li>Work: 0.02 kWh (17.04 Wh)</li>
	<li>Energy cost: $0.0000</li>
	<li>Peak power: 0.00 W (0.00 kW x $13.61/kW = $0.00)</li>
	<li>Total cost: $0.00 + $0.00 = $0.00</li>
	</ul>
<li>Nodes: 7</li>
	<ul>
	<li>Run:   0.17</li>
	<li>Up:    5.38</li>
	<li>On:    5.38</li>
	<li>Total: 7.00</li>
	<li>Utilization: 2.47%</li>
	</ul>
<li>Experiment duration: 179 s</li>
	<ul>
	<li>Utilization: 1.12% = 98.00 / 179.00x7x7</li>
	<li>Utilization maps: 1.50% = 94.00 / 179.00x7x5</li>
	</ul>
<li>Jobs: 1</li>
	<ul>
	<li>Run: 1</li>
	<li>Finished: 1/1</li>
	<li>Deadline actions: 0</li>
	<li>Violate (3600s): 0/1 (0s 0.00%)</li>
	<li>Avg tasks: 9.00 tasks/job</li>
	<li>Avg length: 98.00 seconds/job</li>
	<li>Avg energy: 17.04 Wh/job</li>
	<li>Avg total time: 25.00 seconds</li>
	<ul>
		<li>High: 0.00 seconds</li>
		<li>Normal: 25.00 seconds</li>
	</ul>
	</ul>
<li>Tasks: 9 (8 + 1)</li>
	<ul>
	<li>Running time: 98 s (94 + 4)</li>
	<li>Avg length: 10.89 s (11.75 + 4.00)</li>
	<li>Avg energy: 1.89 Wh (2.53 Wh)</li>
	</ul>
<li>Task performance:</li>
	<ul>
	<li>0.05 tasks/second</li>
	<ul>
		<li>High:   0.00 tasks/second</li>
		<li>Normal: 0.05 tasks/second</li>
	</ul>
	</ul>
<li>Job performance:</li>
	<ul>
	<li>20.11 jobs/hour</li>
	<li>$0.00/job</li>
	</ul>
<li>Replicated files: 0</li>
	<ul>
	<li>Start: 0</li>
	<li>Done: 0</li>
	</ul>
</ul>
Summary spreadsheet<br/>
0.02 0.22 0.00 0.02 0.00000 0.00 13.61 0.00 1.50 1.12 5.38 5.38 2.47 1 0.05 20.11 0 1.89<br/>
0.02 0.22 0.00 0.02 0.00000 0.00 13.61 0.00 1.50 1.12 5.38 5.38 2.47 1 0.05 20.11 0 1.89<br/>
