totalTime : 598
<ul>
<li>Energy consumption: 0.10 kWh (96.98 Wh)</li>
	<ul>
	<li>Green: 0.10 kWh (96.98/1049.22 Wh 9.24%)</li>
	<li>Brown: 0.00 kWh (0.00 Wh)</li>
	<li>Idle: 0.02 kWh (19.14 Wh)</li>
	<li>Work: 0.08 kWh (77.84 Wh)</li>
	<li>Energy cost: $0.0000</li>
	<li>Peak power: 0.00 W (0.00 kW x $13.61/kW = $0.00)</li>
	<li>Total cost: $0.00 + $0.00 = $0.00</li>
	</ul>
<li>Nodes: 7</li>
	<ul>
	<li>Run:   0.55</li>
	<li>Up:    7.02</li>
	<li>On:    7.02</li>
	<li>Total: 7.00</li>
	<li>Utilization: 7.81%</li>
	</ul>
<li>Experiment duration: 598 s</li>
	<ul>
	<li>Utilization: 10.52% = 2641.00 / 598.00x7x6</li>
	<li>Utilization maps: 15.64% = 2618.00 / 598.00x7x4</li>
	</ul>
<li>Jobs: 3</li>
	<ul>
	<li>Run: 3</li>
	<li>Finished: 3/4</li>
	<li>Deadline actions: 0</li>
	<li>Violate (3600s): 0/3 (0s 0.00%)</li>
	<li>Avg tasks: 33.00 tasks/job</li>
	<li>Avg length: 880.33 seconds/job</li>
	<li>Avg energy: 25.95 Wh/job</li>
	<li>Avg total time: 93.00 seconds</li>
	<ul>
		<li>High: 0.00 seconds</li>
		<li>Normal: 93.00 seconds</li>
	</ul>
	</ul>
<li>Tasks: 99 (96 + 3)</li>
	<ul>
	<li>Running time: 2641 s (2618 + 23)</li>
	<li>Avg length: 26.68 s (27.27 + 7.67)</li>
	<li>Avg energy: 0.79 Wh (0.98 Wh)</li>
	</ul>
<li>Task performance:</li>
	<ul>
	<li>0.17 tasks/second</li>
	<ul>
		<li>High:   0.00 tasks/second</li>
		<li>Normal: 0.17 tasks/second</li>
	</ul>
	</ul>
<li>Job performance:</li>
	<ul>
	<li>18.06 jobs/hour</li>
	<li>$0.00/job</li>
	</ul>
<li>Replicated files: 0</li>
	<ul>
	<li>Start: 0</li>
	<li>Done: 0</li>
	</ul>
</ul>
Summary spreadsheet<br/>
0.10 1.05 0.00 0.10 0.00000 0.00 13.61 0.00 15.64 10.52 7.02 7.02 7.81 3 0.17 18.06 0 0.79<br/>
0.10 1.05 0.00 0.10 0.00000 0.00 13.61 0.00 15.64 10.52 7.02 7.02 7.81 3 0.17 18.06 0 0.79<br/>
