totalTime : 3624
<ul>
<li>Energy consumption: 0.57 kWh (571.65 Wh)</li>
	<ul>
	<li>Green: 0.57 kWh (571.65/3403.30 Wh 16.80%)</li>
	<li>Brown: 0.00 kWh (0.00 Wh)</li>
	<li>Idle: 0.12 kWh (115.97 Wh)</li>
	<li>Work: 0.46 kWh (455.68 Wh)</li>
	<li>Energy cost: $0.0000</li>
	<li>Peak power: 0.00 W (0.00 kW x $13.61/kW = $0.00)</li>
	<li>Total cost: $0.00 + $0.00 = $0.00</li>
	</ul>
<li>Nodes: 7</li>
	<ul>
	<li>Run:   2.40</li>
	<li>Up:    4.46</li>
	<li>On:    4.54</li>
	<li>Total: 7.00</li>
	<li>Utilization: 34.25%</li>
	</ul>
<li>Experiment duration: 3624 s</li>
	<ul>
	<li>Utilization: 18.12% = 32168.00 / 3624.00x7x7</li>
	<li>Utilization maps: 19.98% = 25345.00 / 3624.00x7x5</li>
	</ul>
<li>Jobs: 13</li>
	<ul>
	<li>Run: 30</li>
	<li>Finished: 13/30</li>
	<li>Deadline actions: 0</li>
	<li>Violate (3600s): 0/30 (0s 0.00%)</li>
	<li>Avg tasks: 32.93 tasks/job</li>
	<li>Avg length: 1072.27 seconds/job</li>
	<li>Avg energy: 15.19 Wh/job</li>
	<li>Avg total time: 667.08 seconds</li>
	<ul>
		<li>High: 0.00 seconds</li>
		<li>Normal: 667.08 seconds</li>
	</ul>
	</ul>
<li>Tasks: 988 (944 + 27)</li>
	<ul>
	<li>Running time: 32168 s (25345 + 108)</li>
	<li>Avg length: 32.56 s (26.85 + 4.00)</li>
	<li>Avg energy: 0.46 Wh (0.58 Wh)</li>
	</ul>
<li>Task performance:</li>
	<ul>
	<li>0.27 tasks/second</li>
	<ul>
		<li>High:   0.00 tasks/second</li>
		<li>Normal: 0.27 tasks/second</li>
	</ul>
	</ul>
<li>Job performance:</li>
	<ul>
	<li>12.91 jobs/hour</li>
	<li>$0.00/job</li>
	</ul>
<li>Replicated files: 1</li>
	<ul>
	<li>Start: 1</li>
	<li>Done: 1</li>
	</ul>
</ul>
Summary spreadsheet<br/>
0.57 3.40 0.00 0.57 0.00000 0.00 13.61 0.00 19.98 18.12 4.46 4.54 34.25 13 0.27 12.91 0 0.46<br/>
0.57 3.40 0.00 0.57 0.00000 0.00 13.61 0.00 19.98 18.12 4.46 4.54 34.25 13 0.27 12.91 0 0.46<br/>
