totalTime : 899
<ul>
<li>Energy consumption: 0.14 kWh (142.03 Wh)</li>
	<ul>
	<li>Green: 0.14 kWh (138.17/1463.78 Wh 9.44%)</li>
	<li>Brown: 0.00 kWh (3.86 Wh)</li>
	<li>Idle: 0.03 kWh (28.77 Wh)</li>
	<li>Work: 0.11 kWh (113.26 Wh)</li>
	<li>Energy cost: $0.0005</li>
	<li>Peak power: 92.60 W (0.09 kW x $13.61/kW = $1.26)</li>
	<li>Total cost: $0.16 + $1.26 = $1.42</li>
	</ul>
<li>Nodes: 7</li>
	<ul>
	<li>Run:   1.13</li>
	<li>Up:    6.01</li>
	<li>On:    6.01</li>
	<li>Total: 7.00</li>
	<li>Utilization: 16.21%</li>
	</ul>
<li>Experiment duration: 899 s</li>
	<ul>
	<li>Utilization: 24.99% = 9436.00 / 899.00x7x6</li>
	<li>Utilization maps: 36.98% = 9309.00 / 899.00x7x4</li>
	</ul>
<li>Jobs: 10</li>
	<ul>
	<li>Run: 10</li>
	<li>Finished: 10/12</li>
	<li>Deadline actions: 0</li>
	<li>Violate (3600s): 0/10 (0s 0.00%)</li>
	<li>Avg tasks: 33.00 tasks/job</li>
	<li>Avg length: 943.60 seconds/job</li>
	<li>Avg energy: 11.33 Wh/job</li>
	<li>Avg total time: 229.80 seconds</li>
	<ul>
		<li>High: 0.00 seconds</li>
		<li>Normal: 229.80 seconds</li>
	</ul>
	</ul>
<li>Tasks: 330 (320 + 10)</li>
	<ul>
	<li>Running time: 9436 s (9309 + 127)</li>
	<li>Avg length: 28.59 s (29.09 + 12.70)</li>
	<li>Avg energy: 0.34 Wh (0.43 Wh)</li>
	</ul>
<li>Task performance:</li>
	<ul>
	<li>0.37 tasks/second</li>
	<ul>
		<li>High:   0.00 tasks/second</li>
		<li>Normal: 0.37 tasks/second</li>
	</ul>
	<li>342.50 tasks/hour / Wh</li>
	<li>2914869.64 tasks/hour / $</li>
	</ul>
<li>Job performance:</li>
	<ul>
	<li>40.04 jobs/hour</li>
	<li>10.38 jobs/hour / Wh</li>
	<li>88329.38 jobs/hour / $</li>
	<li>$0.14/job</li>
	</ul>
<li>Replicated files: 0</li>
	<ul>
	<li>Start: 0</li>
	<li>Done: 0</li>
	</ul>
</ul>
Summary spreadsheet<br/>
0.14 1.46 0.00 0.14 0.00045 0.09 13.61 1.26 36.98 24.99 6.01 6.01 16.21 10 0.37 40.04 0 0.34<br/>
0.14 1.46 0.00 0.14 0.00045 0.09 13.61 1.26 36.98 24.99 6.01 6.01 16.21 10 0.37 40.04 0 0.34<br/>
