totalTime : 240
<ul>
<li>Energy consumption: 0.05 kWh (47.51 Wh)</li>
	<ul>
	<li>Green: 0.05 kWh (47.51/317.33 Wh 14.97%)</li>
	<li>Brown: 0.00 kWh (0.00 Wh)</li>
	<li>Idle: 0.01 kWh (7.68 Wh)</li>
	<li>Work: 0.04 kWh (39.83 Wh)</li>
	<li>Energy cost: $0.0000</li>
	<li>Peak power: 0.00 W (0.00 kW x $13.61/kW = $0.00)</li>
	<li>Total cost: $0.00 + $0.00 = $0.00</li>
	</ul>
<li>Nodes: 7</li>
	<ul>
	<li>Run:   2.74</li>
	<li>Up:    6.45</li>
	<li>On:    6.45</li>
	<li>Total: 7.00</li>
	<li>Utilization: 39.11%</li>
	</ul>
<li>Experiment duration: 240 s</li>
	<ul>
	<li>Utilization: 24.60% = 2480.00 / 240.00x7x6</li>
	<li>Utilization maps: 36.62% = 2461.00 / 240.00x7x4</li>
	</ul>
<li>Jobs: 2</li>
	<ul>
	<li>Run: 3</li>
	<li>Finished: 2/3</li>
	<li>Deadline actions: 0</li>
	<li>Violate (3600s): 0/3 (0s 0.00%)</li>
	<li>Avg tasks: 31.33 tasks/job</li>
	<li>Avg length: 826.67 seconds/job</li>
	<li>Avg energy: 13.28 Wh/job</li>
	<li>Avg total time: 78.50 seconds</li>
	<ul>
		<li>High: 0.00 seconds</li>
		<li>Normal: 78.50 seconds</li>
	</ul>
	</ul>
<li>Tasks: 94 (92 + 2)</li>
	<ul>
	<li>Running time: 2480 s (2461 + 19)</li>
	<li>Avg length: 26.38 s (26.75 + 9.50)</li>
	<li>Avg energy: 0.42 Wh (0.51 Wh)</li>
	</ul>
<li>Task performance:</li>
	<ul>
	<li>0.39 tasks/second</li>
	<ul>
		<li>High:   0.00 tasks/second</li>
		<li>Normal: 0.39 tasks/second</li>
	</ul>
	</ul>
<li>Job performance:</li>
	<ul>
	<li>30.00 jobs/hour</li>
	<li>$0.00/job</li>
	</ul>
<li>Replicated files: 0</li>
	<ul>
	<li>Start: 0</li>
	<li>Done: 0</li>
	</ul>
</ul>
Summary spreadsheet<br/>
0.05 0.32 0.00 0.05 0.00000 0.00 13.61 0.00 36.62 24.60 6.45 6.45 39.11 2 0.39 30.00 0 0.42<br/>
0.05 0.32 0.00 0.05 0.00000 0.00 13.61 0.00 36.62 24.60 6.45 6.45 39.11 2 0.39 30.00 0 0.42<br/>
