totalTime : 299
<ul>
<li>Energy consumption: 0.06 kWh (59.56 Wh)</li>
	<ul>
	<li>Green: 0.06 kWh (59.56/409.50 Wh 14.55%)</li>
	<li>Brown: 0.00 kWh (0.00 Wh)</li>
	<li>Idle: 0.01 kWh (9.57 Wh)</li>
	<li>Work: 0.05 kWh (50.00 Wh)</li>
	<li>Energy cost: $0.0000</li>
	<li>Peak power: 0.00 W (0.00 kW x $13.61/kW = $0.00)</li>
	<li>Total cost: $0.00 + $0.00 = $0.00</li>
	</ul>
<li>Nodes: 7</li>
	<ul>
	<li>Run:   2.30</li>
	<li>Up:    7.05</li>
	<li>On:    7.05</li>
	<li>Total: 7.00</li>
	<li>Utilization: 32.92%</li>
	</ul>
<li>Experiment duration: 299 s</li>
	<ul>
	<li>Utilization: 18.33% = 2686.00 / 299.00x7x7</li>
	<li>Utilization maps: 21.19% = 2661.00 / 299.00x7x6</li>
	</ul>
<li>Jobs: 3</li>
	<ul>
	<li>Run: 3</li>
	<li>Finished: 3/4</li>
	<li>Deadline actions: 0</li>
	<li>Violate (3600s): 0/3 (0s 0.00%)</li>
	<li>Avg tasks: 33.00 tasks/job</li>
	<li>Avg length: 895.33 seconds/job</li>
	<li>Avg energy: 16.67 Wh/job</li>
	<li>Avg total time: 96.00 seconds</li>
	<ul>
		<li>High: 0.00 seconds</li>
		<li>Normal: 96.00 seconds</li>
	</ul>
	</ul>
<li>Tasks: 99 (96 + 3)</li>
	<ul>
	<li>Running time: 2686 s (2661 + 25)</li>
	<li>Avg length: 27.13 s (27.72 + 8.33)</li>
	<li>Avg energy: 0.51 Wh (0.60 Wh)</li>
	</ul>
<li>Task performance:</li>
	<ul>
	<li>0.33 tasks/second</li>
	<ul>
		<li>High:   0.00 tasks/second</li>
		<li>Normal: 0.33 tasks/second</li>
	</ul>
	</ul>
<li>Job performance:</li>
	<ul>
	<li>36.12 jobs/hour</li>
	<li>$0.00/job</li>
	</ul>
<li>Replicated files: 0</li>
	<ul>
	<li>Start: 0</li>
	<li>Done: 0</li>
	</ul>
</ul>
Summary spreadsheet<br/>
0.06 0.41 0.00 0.06 0.00000 0.00 13.61 0.00 21.19 18.33 7.05 7.05 32.92 3 0.33 36.12 0 0.51<br/>
0.06 0.41 0.00 0.06 0.00000 0.00 13.61 0.00 21.19 18.33 7.05 7.05 32.92 3 0.33 36.12 0 0.51<br/>
