totalTime : 3599
<ul>
<li>Energy consumption: 0.24 kWh (238.07 Wh)</li>
	<ul>
	<li>Green: 0.12 kWh (124.62/885.75 Wh 14.07%)</li>
	<li>Brown: 0.11 kWh (113.44 Wh)</li>
	<li>Idle: 0.12 kWh (115.17 Wh)</li>
	<li>Work: 0.12 kWh (122.90 Wh)</li>
	<li>Energy cost: $0.0115</li>
	<li>Peak power: 545.00 W (0.55 kW x $13.61/kW = $7.42)</li>
	<li>Total cost: $4.15 + $7.42 = $11.57</li>
	</ul>
<li>Nodes: 7</li>
	<ul>
	<li>Run:   0.00</li>
	<li>Up:    2.00</li>
	<li>On:    2.00</li>
	<li>Total: 7.00</li>
	<li>Utilization: 0.00%</li>
	</ul>
<li>Experiment duration: 3599 s</li>
	<ul>
	<li>Utilization: -0.00% = -3.00 / 3599.00x7x6</li>
	<li>Utilization maps: 0.00% = 0.00 / 3599.00x7x4</li>
	</ul>
<li>Jobs: 0</li>
	<ul>
	<li>Run: 3</li>
	<li>Finished: 0/3</li>
	<li>Deadline actions: 0</li>
	<li>Violate (3600s): 0/3 (0s 0.00%)</li>
	<li>Avg tasks: 1.00 tasks/job</li>
	<li>Avg length: -1.00 seconds/job</li>
	<li>Avg energy: 40.97 Wh/job</li>
