totalTime : 3599
<ul>
<li>Energy consumption: 0.38 kWh (383.51 Wh)</li>
	<ul>
	<li>Green: 0.30 kWh (300.51/885.59 Wh 33.93%)</li>
	<li>Brown: 0.08 kWh (83.00 Wh)</li>
	<li>Idle: 0.12 kWh (115.17 Wh)</li>
	<li>Work: 0.27 kWh (268.35 Wh)</li>
	<li>Energy cost: $0.0084</li>
	<li>Peak power: 545.00 W (0.55 kW x $13.61/kW = $7.42)</li>
	<li>Total cost: $3.04 + $7.42 = $10.46</li>
	</ul>
<li>Nodes: 7</li>
	<ul>
	<li>Run:   0.71</li>
	<li>Up:    3.15</li>
	<li>On:    3.51</li>
	<li>Total: 7.00</li>
	<li>Utilization: 10.16%</li>
	</ul>
<li>Experiment duration: 3599 s</li>
	<ul>
	<li>Utilization: 18.21% = 27519.00 / 3599.00x7x6</li>
	<li>Utilization maps: 26.99% = 27201.00 / 3599.00x7x4</li>
	</ul>
<li>Jobs: 30</li>
	<ul>
	<li>Run: 30</li>
	<li>Finished: 30/32</li>
	<li>Deadline actions: 0</li>
	<li>Violate (3600s): 0/30 (0s 0.00%)</li>
	<li>Avg tasks: 32.27 tasks/job</li>
	<li>Avg length: 917.30 seconds/job</li>
	<li>Avg energy: 8.94 Wh/job</li>
	<li>Avg total time: 1275.80 seconds</li>
	<ul>
		<li>High: 0.00 seconds</li>
		<li>Normal: 1275.80 seconds</li>
	</ul>
	</ul>
<li>Tasks: 968 (938 + 30)</li>
	<ul>
	<li>Running time: 27519 s (27201 + 318)</li>
	<li>Avg length: 28.43 s (29.00 + 10.60)</li>
	<li>Avg energy: 0.28 Wh (0.40 Wh)</li>
	</ul>
<li>Task performance:</li>
	<ul>
	<li>0.27 tasks/second</li>
	<ul>
		<li>High:   0.00 tasks/second</li>
		<li>Normal: 0.27 tasks/second</li>
	</ul>
	<li>11.67 tasks/hour / Wh</li>
	<li>114764.21 tasks/hour / $</li>
	</ul>
<li>Job performance:</li>
	<ul>
	<li>30.01 jobs/hour</li>
	<li>0.36 jobs/hour / Wh</li>
	<li>3556.74 jobs/hour / $</li>
	<li>$0.35/job</li>
	</ul>
<li>Replicated files: 0</li>
	<ul>
	<li>Start: 0</li>
	<li>Done: 0</li>
	</ul>
</ul>
Summary spreadsheet<br/>
0.30 0.89 0.08 0.38 0.00844 0.55 13.61 7.42 26.99 18.21 3.15 3.51 10.16 30 0.27 30.01 0 0.28<br/>
0.30 0.89 0.08 0.38 0.00844 0.55 13.61 7.42 26.99 18.21 3.15 3.51 10.16 30 0.27 30.01 0 0.28<br/>
