totalTime : 3599
<ul>
<li>Energy consumption: 0.74 kWh (735.86 Wh)</li>
	<ul>
	<li>Green: 0.40 kWh (397.20/886.23 Wh 44.82%)</li>
	<li>Brown: 0.34 kWh (338.67 Wh)</li>
	<li>Idle: 0.12 kWh (115.17 Wh)</li>
	<li>Work: 0.62 kWh (620.70 Wh)</li>
	<li>Energy cost: $0.0323</li>
	<li>Peak power: 858.60 W (0.86 kW x $13.61/kW = $11.69)</li>
	<li>Total cost: $11.64 + $11.69 = $23.33</li>
	</ul>
<li>Nodes: 7</li>
	<ul>
	<li>Run:   3.96</li>
	<li>Up:    4.87</li>
	<li>On:    5.29</li>
	<li>Total: 7.00</li>
	<li>Utilization: 56.61%</li>
	</ul>
<li>Experiment duration: 3599 s</li>
	<ul>
	<li>Utilization: 38.24% = 57810.00 / 3599.00x7x6</li>
	<li>Utilization maps: 56.76% = 57194.00 / 3599.00x7x4</li>
	</ul>
<li>Jobs: 62</li>
	<ul>
	<li>Run: 63</li>
	<li>Finished: 62/105</li>
	<li>Deadline actions: 0</li>
	<li>Violate (3600s): 0/105 (0s 0.00%)</li>
	<li>Avg tasks: 32.81 tasks/job</li>
	<li>Avg length: 917.62 seconds/job</li>
	<li>Avg energy: 9.85 Wh/job</li>
	<li>Avg total time: 1165.74 seconds</li>
	<ul>
		<li>High: 1165.74 seconds</li>
		<li>Normal: 0.00 seconds</li>
	</ul>
	</ul>
<li>Tasks: 2067 (2005 + 62)</li>
	<ul>
	<li>Running time: 57810 s (57194 + 616)</li>
	<li>Avg length: 27.97 s (28.53 + 9.94)</li>
	<li>Avg energy: 0.30 Wh (0.36 Wh)</li>
	</ul>
<li>Task performance:</li>
	<ul>
	<li>0.57 tasks/second</li>
	<ul>
		<li>High:   0.57 tasks/second</li>
		<li>Normal: 0.00 tasks/second</li>
	</ul>
	<li>6.11 tasks/hour / Wh</li>
	<li>63935.13 tasks/hour / $</li>
	</ul>
<li>Job performance:</li>
	<ul>
	<li>62.02 jobs/hour</li>
	<li>0.18 jobs/hour / Wh</li>
	<li>1917.74 jobs/hour / $</li>
	<li>$0.38/job</li>
	</ul>
<li>Replicated files: 0</li>
	<ul>
	<li>Start: 0</li>
	<li>Done: 0</li>
	</ul>
</ul>
Summary spreadsheet<br/>
0.40 0.89 0.34 0.74 0.03234 0.86 13.61 11.69 56.76 38.24 4.87 5.29 56.61 62 0.57 62.02 0 0.30<br/>
0.40 0.89 0.34 0.74 0.03234 0.86 13.61 11.69 56.76 38.24 4.87 5.29 56.61 62 0.57 62.02 0 0.30<br/>
