totalTime : 3624
<ul>
<li>Energy consumption: 0.71 kWh (705.37 Wh)</li>
	<ul>
	<li>Green: 0.71 kWh (705.37/3404.59 Wh 20.72%)</li>
	<li>Brown: 0.00 kWh (0.00 Wh)</li>
	<li>Idle: 0.12 kWh (115.97 Wh)</li>
	<li>Work: 0.59 kWh (589.40 Wh)</li>
	<li>Energy cost: $0.0000</li>
	<li>Peak power: 0.00 W (0.00 kW x $13.61/kW = $0.00)</li>
	<li>Total cost: $0.00 + $0.00 = $0.00</li>
	</ul>
<li>Nodes: 7</li>
	<ul>
	<li>Run:   4.17</li>
	<li>Up:    4.46</li>
	<li>On:    4.52</li>
	<li>Total: 7.00</li>
	<li>Utilization: 59.63%</li>
	</ul>
<li>Experiment duration: 3624 s</li>
	<ul>
	<li>Utilization: 31.75% = 56385.00 / 3624.00x7x7</li>
	<li>Utilization maps: 40.69% = 51616.00 / 3624.00x7x5</li>
	</ul>
<li>Jobs: 40</li>
	<ul>
	<li>Run: 60</li>
	<li>Finished: 40/60</li>
	<li>Deadline actions: 0</li>
	<li>Violate (3600s): 0/60 (0s 0.00%)</li>
	<li>Avg tasks: 32.15 tasks/job</li>
	<li>Avg length: 939.75 seconds/job</li>
	<li>Avg energy: 9.82 Wh/job</li>
	<li>Avg total time: 472.23 seconds</li>
	<ul>
		<li>High: 0.00 seconds</li>
		<li>Normal: 472.23 seconds</li>
	</ul>
	</ul>
<li>Tasks: 1929 (1862 + 49)</li>
	<ul>
	<li>Running time: 56385 s (51616 + 409)</li>
	<li>Avg length: 29.23 s (27.72 + 8.35)</li>
	<li>Avg energy: 0.31 Wh (0.37 Wh)</li>
	</ul>
<li>Task performance:</li>
	<ul>
	<li>0.53 tasks/second</li>
	<ul>
		<li>High:   0.00 tasks/second</li>
		<li>Normal: 0.53 tasks/second</li>
	</ul>
	</ul>
<li>Job performance:</li>
	<ul>
	<li>39.74 jobs/hour</li>
	<li>$0.00/job</li>
	</ul>
<li>Replicated files: 0</li>
	<ul>
	<li>Start: 0</li>
	<li>Done: 0</li>
	</ul>
</ul>
Summary spreadsheet<br/>
0.71 3.40 0.00 0.71 0.00000 0.00 13.61 0.00 40.69 31.75 4.46 4.52 59.63 40 0.53 39.74 0 0.31<br/>
0.71 3.40 0.00 0.71 0.00000 0.00 13.61 0.00 40.69 31.75 4.46 4.52 59.63 40 0.53 39.74 0 0.31<br/>
