totalTime : 185
<ul>
<li>Energy consumption: 0.01 kWh (9.38 Wh)</li>
	<ul>
	<li>Green: 0.01 kWh (9.27/18.90 Wh 49.05%)</li>
	<li>Brown: 0.00 kWh (0.11 Wh)</li>
	<li>Idle: 0.01 kWh (5.92 Wh)</li>
	<li>Work: 0.00 kWh (3.46 Wh)</li>
	<li>Energy cost: $0.0000</li>
	<li>Peak power: 195.00 W (0.20 kW x $13.61/kW = $2.65)</li>
	<li>Total cost: $0.00 + $2.65 = $2.66</li>
	</ul>
<li>Nodes: 7</li>
	<ul>
	<li>Run:   0.00</li>
	<li>Up:    1.08</li>
	<li>On:    1.08</li>
	<li>Total: 7.00</li>
	<li>Utilization: 0.00%</li>
	</ul>
<li>Experiment duration: 185 s</li>
	<ul>
	<li>Utilization: -0.01% = -1.00 / 185.00x7x7</li>
	<li>Utilization maps: 0.00% = 0.00 / 185.00x7x5</li>
	</ul>
<li>Jobs: 0</li>
	<ul>
	<li>Run: 1</li>
	<li>Finished: 0/1</li>
	<li>Deadline actions: 0</li>
	<li>Violate (3600s): 0/1 (0s 0.00%)</li>
	<li>Avg tasks: 1.00 tasks/job</li>
	<li>Avg length: -1.00 seconds/job</li>
	<li>Avg energy: 3.46 Wh/job</li>
