totalTime : 239
<ul>
<li>Energy consumption: 0.04 kWh (44.52 Wh)</li>
	<ul>
	<li>Green: 0.04 kWh (44.52/316.17 Wh 14.08%)</li>
	<li>Brown: 0.00 kWh (0.00 Wh)</li>
	<li>Idle: 0.01 kWh (7.65 Wh)</li>
	<li>Work: 0.04 kWh (36.87 Wh)</li>
	<li>Energy cost: $0.0000</li>
	<li>Peak power: 0.00 W (0.00 kW x $13.61/kW = $0.00)</li>
	<li>Total cost: $0.00 + $0.00 = $0.00</li>
	</ul>
<li>Nodes: 7</li>
	<ul>
	<li>Run:   1.67</li>
	<li>Up:    7.06</li>
	<li>On:    7.06</li>
	<li>Total: 7.00</li>
	<li>Utilization: 23.91%</li>
	</ul>
<li>Experiment duration: 239 s</li>
	<ul>
	<li>Utilization: 22.79% = 2669.00 / 239.00x7x7</li>
	<li>Utilization maps: 26.32% = 2642.00 / 239.00x7x6</li>
	</ul>
<li>Jobs: 3</li>
	<ul>
	<li>Run: 3</li>
	<li>Finished: 3/3</li>
	<li>Deadline actions: 0</li>
	<li>Violate (3600s): 0/3 (0s 0.00%)</li>
	<li>Avg tasks: 33.00 tasks/job</li>
	<li>Avg length: 889.67 seconds/job</li>
	<li>Avg energy: 12.29 Wh/job</li>
	<li>Avg total time: 93.33 seconds</li>
	<ul>
		<li>High: 0.00 seconds</li>
		<li>Normal: 93.33 seconds</li>
	</ul>
	</ul>
<li>Tasks: 99 (96 + 3)</li>
	<ul>
	<li>Running time: 2669 s (2642 + 27)</li>
	<li>Avg length: 26.96 s (27.52 + 9.00)</li>
	<li>Avg energy: 0.37 Wh (0.45 Wh)</li>
	</ul>
<li>Task performance:</li>
	<ul>
	<li>0.41 tasks/second</li>
	<ul>
		<li>High:   0.00 tasks/second</li>
		<li>Normal: 0.41 tasks/second</li>
	</ul>
	</ul>
<li>Job performance:</li>
	<ul>
	<li>45.19 jobs/hour</li>
	<li>$0.00/job</li>
	</ul>
<li>Replicated files: 0</li>
	<ul>
	<li>Start: 0</li>
	<li>Done: 0</li>
	</ul>
</ul>
Summary spreadsheet<br/>
0.04 0.32 0.00 0.04 0.00000 0.00 13.61 0.00 26.32 22.79 7.06 7.06 23.91 3 0.41 45.19 0 0.37<br/>
0.04 0.32 0.00 0.04 0.00000 0.00 13.61 0.00 26.32 22.79 7.06 7.06 23.91 3 0.41 45.19 0 0.37<br/>
