<head>
<title>Green Hadoop results</title>
</head>
<body>

<h1>Inter-arrival 30 seconds</h1>
<ul>
	<li><a href="index3.html#30s-greenonly" target="content">GreenOnly</a></li>
	<li><a href="index3.html#30s-greenvarprices" target="content">GreenVarPrices</a></li>
	<li><a href="index3.html#30s-greenvarpricesnorepl" target="content">GreenVarPrices (No replication)</a></li>
	<li><a href="index3.html#30s-greenhadoop" target="content">GreenHadoop</a></li>
	<li><a href="index3.html#30s-hadoop" target="content">Hadoop</a></li>
	<li><a href="index3.html#30s-hadooppm" target="content">Hadoop + Power Management</a></li>
</ul>

<h1>Inter-arrival 60 seconds</h1>
<ul>
	<li><a href="index3.html#60s-greenonly" target="content">GreenOnly</a></li>
	<li><a href="index3.html#60s-greenvarprices" target="content">GreenVarPrices</a></li>
	<li><a href="index3.html#60s-greenhadoop" target="content">GreenHadoop</a></li>
	<li><a href="index3.html#60s-greenvarpricesnorepl" target="content">GreenVarPrices (No replication)</a></li>
	<li><a href="index3.html#60s-hadoop" target="content">Hadoop</a></li>
	<li><a href="index3.html#60s-hadooppm" target="content">Hadoop + Power Management</a></li>
</ul>

</body>