totalTime : 178
<ul>
<li>Energy consumption: 0.04 kWh (41.12 Wh)</li>
	<ul>
	<li>Green: 0.04 kWh (41.12/221.67 Wh 18.55%)</li>
	<li>Brown: 0.00 kWh (0.00 Wh)</li>
	<li>Idle: 0.01 kWh (5.70 Wh)</li>
	<li>Work: 0.04 kWh (35.42 Wh)</li>
	<li>Energy cost: $0.0000</li>
	<li>Peak power: 0.00 W (0.00 kW x $13.61/kW = $0.00)</li>
	<li>Total cost: $0.00 + $0.00 = $0.00</li>
	</ul>
<li>Nodes: 7</li>
	<ul>
	<li>Run:   3.85</li>
	<li>Up:    7.08</li>
	<li>On:    7.08</li>
	<li>Total: 7.00</li>
	<li>Utilization: 55.06%</li>
	</ul>
<li>Experiment duration: 178 s</li>
	<ul>
	<li>Utilization: 30.90% = 2695.00 / 178.00x7x7</li>
	<li>Utilization maps: 42.87% = 2671.00 / 178.00x7x5</li>
	</ul>
<li>Jobs: 3</li>
	<ul>
	<li>Run: 3</li>
	<li>Finished: 3/3</li>
	<li>Deadline actions: 0</li>
	<li>Violate (3600s): 0/3 (0s 0.00%)</li>
	<li>Avg tasks: 33.00 tasks/job</li>
	<li>Avg length: 898.33 seconds/job</li>
	<li>Avg energy: 11.81 Wh/job</li>
	<li>Avg total time: 88.67 seconds</li>
	<ul>
		<li>High: 0.00 seconds</li>
		<li>Normal: 88.67 seconds</li>
	</ul>
	</ul>
<li>Tasks: 99 (96 + 3)</li>
	<ul>
	<li>Running time: 2695 s (2671 + 24)</li>
	<li>Avg length: 27.22 s (27.82 + 8.00)</li>
	<li>Avg energy: 0.36 Wh (0.42 Wh)</li>
	</ul>
<li>Task performance:</li>
	<ul>
	<li>0.56 tasks/second</li>
	<ul>
		<li>High:   0.00 tasks/second</li>
		<li>Normal: 0.56 tasks/second</li>
	</ul>
	</ul>
<li>Job performance:</li>
	<ul>
	<li>60.67 jobs/hour</li>
	<li>$0.00/job</li>
	</ul>
<li>Replicated files: 0</li>
	<ul>
	<li>Start: 0</li>
	<li>Done: 0</li>
	</ul>
</ul>
Summary spreadsheet<br/>
0.04 0.22 0.00 0.04 0.00000 0.00 13.61 0.00 42.87 30.90 7.08 7.08 55.06 3 0.56 60.67 0 0.36<br/>
0.04 0.22 0.00 0.04 0.00000 0.00 13.61 0.00 42.87 30.90 7.08 7.08 55.06 3 0.56 60.67 0 0.36<br/>
