totalTime : 239
<ul>
<li>Energy consumption: 0.04 kWh (40.93 Wh)</li>
	<ul>
	<li>Green: 0.04 kWh (40.93/316.17 Wh 12.95%)</li>
	<li>Brown: 0.00 kWh (0.00 Wh)</li>
	<li>Idle: 0.01 kWh (7.65 Wh)</li>
	<li>Work: 0.03 kWh (33.29 Wh)</li>
	<li>Energy cost: $0.0000</li>
	<li>Peak power: 0.00 W (0.00 kW x $13.61/kW = $0.00)</li>
	<li>Total cost: $0.00 + $0.00 = $0.00</li>
	</ul>
<li>Nodes: 7</li>
	<ul>
	<li>Run:   2.43</li>
	<li>Up:    4.20</li>
	<li>On:    5.22</li>
	<li>Total: 7.00</li>
	<li>Utilization: 34.73%</li>
	</ul>
<li>Experiment duration: 239 s</li>
	<ul>
	<li>Utilization: 22.50% = 2635.00 / 239.00x7x7</li>
	<li>Utilization maps: 31.21% = 2611.00 / 239.00x7x5</li>
	</ul>
<li>Jobs: 3</li>
	<ul>
	<li>Run: 3</li>
	<li>Finished: 3/3</li>
	<li>Deadline actions: 0</li>
	<li>Violate (3600s): 0/3 (0s 0.00%)</li>
	<li>Avg tasks: 33.00 tasks/job</li>
	<li>Avg length: 878.33 seconds/job</li>
	<li>Avg energy: 11.10 Wh/job</li>
	<li>Avg total time: 94.33 seconds</li>
	<ul>
		<li>High: 0.00 seconds</li>
		<li>Normal: 94.33 seconds</li>
	</ul>
	</ul>
<li>Tasks: 99 (96 + 3)</li>
	<ul>
	<li>Running time: 2635 s (2611 + 24)</li>
	<li>Avg length: 26.62 s (27.20 + 8.00)</li>
	<li>Avg energy: 0.34 Wh (0.41 Wh)</li>
	</ul>
<li>Task performance:</li>
	<ul>
	<li>0.41 tasks/second</li>
	<ul>
		<li>High:   0.00 tasks/second</li>
		<li>Normal: 0.41 tasks/second</li>
	</ul>
	</ul>
<li>Job performance:</li>
	<ul>
	<li>45.19 jobs/hour</li>
	<li>$0.00/job</li>
	</ul>
<li>Replicated files: 0</li>
	<ul>
	<li>Start: 0</li>
	<li>Done: 0</li>
	</ul>
</ul>
Summary spreadsheet<br/>
0.04 0.32 0.00 0.04 0.00000 0.00 13.61 0.00 31.21 22.50 4.20 5.22 34.73 3 0.41 45.19 0 0.34<br/>
0.04 0.32 0.00 0.04 0.00000 0.00 13.61 0.00 31.21 22.50 4.20 5.22 34.73 3 0.41 45.19 0 0.34<br/>
