totalTime : 599
<ul>
<li>Energy consumption: 0.10 kWh (103.44 Wh)</li>
	<ul>
	<li>Green: 0.10 kWh (103.44/1051.94 Wh 9.83%)</li>
	<li>Brown: 0.00 kWh (0.00 Wh)</li>
	<li>Idle: 0.02 kWh (19.17 Wh)</li>
	<li>Work: 0.08 kWh (84.28 Wh)</li>
	<li>Energy cost: $0.0000</li>
	<li>Peak power: 0.00 W (0.00 kW x $13.61/kW = $0.00)</li>
	<li>Total cost: $0.00 + $0.00 = $0.00</li>
	</ul>
<li>Nodes: 7</li>
	<ul>
	<li>Run:   1.04</li>
	<li>Up:    7.02</li>
	<li>On:    7.02</li>
	<li>Total: 7.00</li>
	<li>Utilization: 14.79%</li>
	</ul>
<li>Experiment duration: 599 s</li>
	<ul>
	<li>Utilization: 18.87% = 5540.00 / 599.00x7x7</li>
	<li>Utilization maps: 21.88% = 5505.00 / 599.00x7x6</li>
	</ul>
<li>Jobs: 3</li>
	<ul>
	<li>Run: 3</li>
	<li>Finished: 3/3</li>
	<li>Deadline actions: 0</li>
	<li>Violate (3600s): 0/3 (0s 0.00%)</li>
	<li>Avg tasks: 65.00 tasks/job</li>
	<li>Avg length: 1846.67 seconds/job</li>
	<li>Avg energy: 28.09 Wh/job</li>
	<li>Avg total time: 161.67 seconds</li>
	<ul>
		<li>High: 0.00 seconds</li>
		<li>Normal: 161.67 seconds</li>
	</ul>
	</ul>
<li>Tasks: 195 (192 + 3)</li>
	<ul>
	<li>Running time: 5540 s (5505 + 35)</li>
	<li>Avg length: 28.41 s (28.67 + 11.67)</li>
	<li>Avg energy: 0.43 Wh (0.53 Wh)</li>
	</ul>
<li>Task performance:</li>
	<ul>
	<li>0.33 tasks/second</li>
	<ul>
		<li>High:   0.00 tasks/second</li>
		<li>Normal: 0.33 tasks/second</li>
	</ul>
	</ul>
<li>Job performance:</li>
	<ul>
	<li>18.03 jobs/hour</li>
	<li>$0.00/job</li>
	</ul>
<li>Replicated files: 0</li>
	<ul>
	<li>Start: 0</li>
	<li>Done: 0</li>
	</ul>
</ul>
Summary spreadsheet<br/>
0.10 1.05 0.00 0.10 0.00000 0.00 13.61 0.00 21.88 18.87 7.02 7.02 14.79 3 0.33 18.03 0 0.43<br/>
0.10 1.05 0.00 0.10 0.00000 0.00 13.61 0.00 21.88 18.87 7.02 7.02 14.79 3 0.33 18.03 0 0.43<br/>
