totalTime : 419
<ul>
<li>Energy consumption: 0.02 kWh (16.93 Wh)</li>
	<ul>
	<li>Green: 0.02 kWh (16.93/643.61 Wh 2.63%)</li>
	<li>Brown: 0.00 kWh (0.00 Wh)</li>
	<li>Idle: 0.01 kWh (7.40 Wh)</li>
	<li>Work: 0.01 kWh (9.53 Wh)</li>
	<li>Energy cost: $0.0000</li>
	<li>Peak power: 0.00 W (0.00 kW x $13.61/kW = $0.00)</li>
	<li>Total cost: $0.00 + $0.00 = $0.00</li>
	</ul>
<li>Nodes: 1</li>
	<ul>
	<li>Run:   0.28</li>
	<li>Up:    1.00</li>
	<li>On:    1.00</li>
	<li>Total: 1.00</li>
	<li>Utilization: 27.68%</li>
	</ul>
<li>Experiment duration: 419 s</li>
	<ul>
	<li>Utilization: 15.41% = 452.00 / 419.00x1x7</li>
	<li>Utilization maps: 20.53% = 430.00 / 419.00x1x5</li>
	</ul>
<li>Jobs: 3</li>
	<ul>
	<li>Run: 3</li>
	<li>Finished: 3/3</li>
	<li>Deadline actions: 0</li>
	<li>Violate (3600s): 0/3 (0s 0.00%)</li>
	<li>Avg tasks: 9.00 tasks/job</li>
	<li>Avg length: 150.67 seconds/job</li>
	<li>Avg energy: 3.18 Wh/job</li>
	<li>Avg total time: 90.67 seconds</li>
	<ul>
		<li>High: 0.00 seconds</li>
		<li>Normal: 90.67 seconds</li>
	</ul>
	</ul>
<li>Tasks: 27 (24 + 3)</li>
	<ul>
	<li>Running time: 452 s (430 + 22)</li>
	<li>Avg length: 16.74 s (17.92 + 7.33)</li>
	<li>Avg energy: 0.35 Wh (0.63 Wh)</li>
	</ul>
<li>Task performance:</li>
	<ul>
	<li>0.06 tasks/second</li>
	<ul>
		<li>High:   0.00 tasks/second</li>
		<li>Normal: 0.06 tasks/second</li>
	</ul>
	</ul>
<li>Job performance:</li>
	<ul>
	<li>25.78 jobs/hour</li>
	<li>$0.00/job</li>
	</ul>
<li>Replicated files: 0</li>
	<ul>
	<li>Start: 0</li>
	<li>Done: 0</li>
	</ul>
</ul>
Summary spreadsheet<br/>
0.02 0.64 0.00 0.02 0.00000 0.00 13.61 0.00 20.53 15.41 1.00 1.00 27.68 3 0.06 25.78 0 0.35<br/>
0.02 0.64 0.00 0.02 0.00000 0.00 13.61 0.00 20.53 15.41 1.00 1.00 27.68 3 0.06 25.78 0 0.35<br/>
