totalTime : 179
<ul>
<li>Energy consumption: 0.04 kWh (40.06 Wh)</li>
	<ul>
	<li>Green: 0.04 kWh (40.06/222.83 Wh 17.98%)</li>
	<li>Brown: 0.00 kWh (0.00 Wh)</li>
	<li>Idle: 0.01 kWh (5.73 Wh)</li>
	<li>Work: 0.03 kWh (34.33 Wh)</li>
	<li>Energy cost: $0.0000</li>
	<li>Peak power: 0.00 W (0.00 kW x $13.61/kW = $0.00)</li>
	<li>Total cost: $0.00 + $0.00 = $0.00</li>
	</ul>
<li>Nodes: 7</li>
	<ul>
	<li>Run:   3.92</li>
	<li>Up:    6.41</li>
	<li>On:    6.69</li>
	<li>Total: 7.00</li>
	<li>Utilization: 55.95%</li>
	</ul>
<li>Experiment duration: 179 s</li>
	<ul>
	<li>Utilization: 35.89% = 2698.00 / 179.00x7x6</li>
	<li>Utilization maps: 53.23% = 2668.00 / 179.00x7x4</li>
	</ul>
<li>Jobs: 3</li>
	<ul>
	<li>Run: 3</li>
	<li>Finished: 3/3</li>
	<li>Deadline actions: 0</li>
	<li>Violate (3600s): 0/3 (0s 0.00%)</li>
	<li>Avg tasks: 33.00 tasks/job</li>
	<li>Avg length: 899.33 seconds/job</li>
	<li>Avg energy: 11.44 Wh/job</li>
	<li>Avg total time: 96.33 seconds</li>
	<ul>
		<li>High: 0.00 seconds</li>
		<li>Normal: 96.33 seconds</li>
	</ul>
	</ul>
<li>Tasks: 99 (96 + 3)</li>
	<ul>
	<li>Running time: 2698 s (2668 + 30)</li>
	<li>Avg length: 27.25 s (27.79 + 10.00)</li>
	<li>Avg energy: 0.35 Wh (0.40 Wh)</li>
	</ul>
<li>Task performance:</li>
	<ul>
	<li>0.55 tasks/second</li>
	<ul>
		<li>High:   0.00 tasks/second</li>
		<li>Normal: 0.55 tasks/second</li>
	</ul>
	</ul>
<li>Job performance:</li>
	<ul>
	<li>60.34 jobs/hour</li>
	<li>$0.00/job</li>
	</ul>
<li>Replicated files: 0</li>
	<ul>
	<li>Start: 0</li>
	<li>Done: 0</li>
	</ul>
</ul>
Summary spreadsheet<br/>
0.04 0.22 0.00 0.04 0.00000 0.00 13.61 0.00 53.23 35.89 6.41 6.69 55.95 3 0.55 60.34 0 0.35<br/>
0.04 0.22 0.00 0.04 0.00000 0.00 13.61 0.00 53.23 35.89 6.41 6.69 55.95 3 0.55 60.34 0 0.35<br/>
