totalTime : 3625
<ul>
<li>Energy consumption: 0.39 kWh (391.85 Wh)</li>
	<ul>
	<li>Green: 0.39 kWh (391.85/1692.60 Wh 23.15%)</li>
	<li>Brown: 0.00 kWh (0.00 Wh)</li>
	<li>Idle: 0.12 kWh (116.00 Wh)</li>
	<li>Work: 0.28 kWh (275.85 Wh)</li>
	<li>Energy cost: $0.0000</li>
	<li>Peak power: 0.00 W (0.00 kW x $13.61/kW = $0.00)</li>
	<li>Total cost: $0.00 + $0.00 = $0.00</li>
	</ul>
<li>Nodes: 7</li>
	<ul>
	<li>Run:   0.01</li>
	<li>Up:    4.45</li>
	<li>On:    4.45</li>
	<li>Total: 7.00</li>
	<li>Utilization: 0.13%</li>
	</ul>
<li>Experiment duration: 3625 s</li>
	<ul>
	<li>Utilization: 0.05% = 97.00 / 3625.00x7x7</li>
	<li>Utilization maps: 0.07% = 94.00 / 3625.00x7x5</li>
	</ul>
<li>Jobs: 1</li>
	<ul>
	<li>Run: 1</li>
	<li>Finished: 1/1</li>
	<li>Deadline actions: 0</li>
	<li>Violate (3600s): 0/1 (0s 0.00%)</li>
	<li>Avg tasks: 9.00 tasks/job</li>
	<li>Avg length: 97.00 seconds/job</li>
	<li>Avg energy: 275.85 Wh/job</li>
	<li>Avg total time: 24.00 seconds</li>
	<ul>
		<li>High: 0.00 seconds</li>
		<li>Normal: 24.00 seconds</li>
	</ul>
	</ul>
<li>Tasks: 9 (8 + 1)</li>
	<ul>
	<li>Running time: 97 s (94 + 3)</li>
	<li>Avg length: 10.78 s (11.75 + 3.00)</li>
	<li>Avg energy: 30.65 Wh (43.54 Wh)</li>
	</ul>
<li>Task performance:</li>
	<ul>
	<li>0.00 tasks/second</li>
	<ul>
		<li>High:   0.00 tasks/second</li>
		<li>Normal: 0.00 tasks/second</li>
	</ul>
	</ul>
<li>Job performance:</li>
	<ul>
	<li>0.99 jobs/hour</li>
	<li>$0.00/job</li>
	</ul>
<li>Replicated files: 0</li>
	<ul>
	<li>Start: 0</li>
	<li>Done: 0</li>
	</ul>
</ul>
Summary spreadsheet<br/>
0.39 1.69 0.00 0.39 0.00000 0.00 13.61 0.00 0.07 0.05 4.45 4.45 0.13 1 0.00 0.99 0 30.65<br/>
0.39 1.69 0.00 0.39 0.00000 0.00 13.61 0.00 0.07 0.05 4.45 4.45 0.13 1 0.00 0.99 0 30.65<br/>
totalTime : 331
<ul>
<li>Energy consumption: 0.06 kWh (64.17 Wh)</li>
	<ul>
	<li>Green: 0.06 kWh (64.17/647.50 Wh 9.91%)</li>
	<li>Brown: 0.00 kWh (0.00 Wh)</li>
	<li>Idle: 0.01 kWh (10.59 Wh)</li>
	<li>Work: 0.05 kWh (53.58 Wh)</li>
	<li>Energy cost: $0.0000</li>
	<li>Peak power: 0.00 W (0.00 kW x $13.61/kW = $0.00)</li>
	<li>Total cost: $0.00 + $0.00 = $0.00</li>
	</ul>
<li>Nodes: 7</li>
	<ul>
	<li>Run:   2.05</li>
	<li>Up:    7.04</li>
	<li>On:    7.04</li>
	<li>Total: 7.00</li>
	<li>Utilization: 29.26%</li>
	</ul>
<li>Experiment duration: 331 s</li>
	<ul>
	<li>Utilization: 16.50% = 2676.00 / 331.00x7x7</li>
	<li>Utilization maps: 22.81% = 2643.00 / 331.00x7x5</li>
	</ul>
<li>Jobs: 3</li>
	<ul>
	<li>Run: 3</li>
	<li>Finished: 3/3</li>
	<li>Deadline actions: 0</li>
	<li>Violate (3600s): 0/3 (0s 0.00%)</li>
	<li>Avg tasks: 33.00 tasks/job</li>
	<li>Avg length: 892.00 seconds/job</li>
	<li>Avg energy: 17.86 Wh/job</li>
	<li>Avg total time: 98.33 seconds</li>
	<ul>
		<li>High: 0.00 seconds</li>
		<li>Normal: 98.33 seconds</li>
	</ul>
	</ul>
<li>Tasks: 99 (96 + 3)</li>
	<ul>
	<li>Running time: 2676 s (2643 + 33)</li>
	<li>Avg length: 27.03 s (27.53 + 11.00)</li>
	<li>Avg energy: 0.54 Wh (0.65 Wh)</li>
	</ul>
<li>Task performance:</li>
	<ul>
	<li>0.30 tasks/second</li>
	<ul>
		<li>High:   0.00 tasks/second</li>
		<li>Normal: 0.30 tasks/second</li>
	</ul>
	</ul>
<li>Job performance:</li>
	<ul>
	<li>32.63 jobs/hour</li>
	<li>$0.00/job</li>
	</ul>
<li>Replicated files: 0</li>
	<ul>
	<li>Start: 0</li>
	<li>Done: 0</li>
	</ul>
</ul>
Summary spreadsheet<br/>
0.06 0.65 0.00 0.06 0.00000 0.00 13.61 0.00 22.81 16.50 7.04 7.04 29.26 3 0.30 32.63 0 0.54<br/>
0.06 0.65 0.00 0.06 0.00000 0.00 13.61 0.00 22.81 16.50 7.04 7.04 29.26 3 0.30 32.63 0 0.54<br/>
