totalTime : 239
<ul>
<li>Energy consumption: 0.05 kWh (50.47 Wh)</li>
	<ul>
	<li>Green: 0.05 kWh (50.47/316.17 Wh 15.96%)</li>
	<li>Brown: 0.00 kWh (0.00 Wh)</li>
	<li>Idle: 0.01 kWh (7.65 Wh)</li>
	<li>Work: 0.04 kWh (42.82 Wh)</li>
	<li>Energy cost: $0.0000</li>
	<li>Peak power: 0.00 W (0.00 kW x $13.61/kW = $0.00)</li>
	<li>Total cost: $0.00 + $0.00 = $0.00</li>
	</ul>
<li>Nodes: 7</li>
	<ul>
	<li>Run:   2.91</li>
	<li>Up:    7.06</li>
	<li>On:    7.06</li>
	<li>Total: 7.00</li>
	<li>Utilization: 41.54%</li>
	</ul>
<li>Experiment duration: 239 s</li>
	<ul>
	<li>Utilization: 26.76% = 2686.00 / 239.00x7x6</li>
	<li>Utilization maps: 39.72% = 2658.00 / 239.00x7x4</li>
	</ul>
<li>Jobs: 3</li>
	<ul>
	<li>Run: 3</li>
	<li>Finished: 3/3</li>
	<li>Deadline actions: 0</li>
	<li>Violate (3600s): 0/3 (0s 0.00%)</li>
	<li>Avg tasks: 33.00 tasks/job</li>
	<li>Avg length: 895.33 seconds/job</li>
	<li>Avg energy: 14.27 Wh/job</li>
	<li>Avg total time: 93.00 seconds</li>
	<ul>
		<li>High: 0.00 seconds</li>
		<li>Normal: 93.00 seconds</li>
	</ul>
	</ul>
<li>Tasks: 99 (96 + 3)</li>
	<ul>
	<li>Running time: 2686 s (2658 + 28)</li>
	<li>Avg length: 27.13 s (27.69 + 9.33)</li>
	<li>Avg energy: 0.43 Wh (0.51 Wh)</li>
	</ul>
<li>Task performance:</li>
	<ul>
	<li>0.41 tasks/second</li>
	<ul>
		<li>High:   0.00 tasks/second</li>
		<li>Normal: 0.41 tasks/second</li>
	</ul>
	</ul>
<li>Job performance:</li>
	<ul>
	<li>45.19 jobs/hour</li>
	<li>$0.00/job</li>
	</ul>
<li>Replicated files: 0</li>
	<ul>
	<li>Start: 0</li>
	<li>Done: 0</li>
	</ul>
</ul>
Summary spreadsheet<br/>
0.05 0.32 0.00 0.05 0.00000 0.00 13.61 0.00 39.72 26.76 7.06 7.06 41.54 3 0.41 45.19 0 0.43<br/>
0.05 0.32 0.00 0.05 0.00000 0.00 13.61 0.00 39.72 26.76 7.06 7.06 41.54 3 0.41 45.19 0 0.43<br/>
