totalTime : 359
<ul>
<li>Energy consumption: 0.04 kWh (41.33 Wh)</li>
	<ul>
	<li>Green: 0.04 kWh (41.33/526.17 Wh 7.85%)</li>
	<li>Brown: 0.00 kWh (0.00 Wh)</li>
	<li>Idle: 0.01 kWh (11.49 Wh)</li>
	<li>Work: 0.03 kWh (29.84 Wh)</li>
	<li>Energy cost: $0.0000</li>
	<li>Peak power: 0.00 W (0.00 kW x $13.61/kW = $0.00)</li>
	<li>Total cost: $0.00 + $0.00 = $0.00</li>
	</ul>
<li>Nodes: 7</li>
	<ul>
	<li>Run:   0.08</li>
	<li>Up:    4.78</li>
	<li>On:    4.78</li>
	<li>Total: 7.00</li>
	<li>Utilization: 1.19%</li>
	</ul>
<li>Experiment duration: 359 s</li>
	<ul>
	<li>Utilization: 0.58% = 102.00 / 359.00x7x7</li>
	<li>Utilization maps: 0.79% = 99.00 / 359.00x7x5</li>
	</ul>
<li>Jobs: 1</li>
	<ul>
	<li>Run: 1</li>
	<li>Finished: 1/1</li>
	<li>Deadline actions: 0</li>
	<li>Violate (3600s): 0/1 (0s 0.00%)</li>
	<li>Avg tasks: 9.00 tasks/job</li>
	<li>Avg length: 102.00 seconds/job</li>
	<li>Avg energy: 29.84 Wh/job</li>
	<li>Avg total time: 23.00 seconds</li>
	<ul>
		<li>High: 0.00 seconds</li>
		<li>Normal: 23.00 seconds</li>
	</ul>
	</ul>
<li>Tasks: 9 (8 + 1)</li>
	<ul>
	<li>Running time: 102 s (99 + 3)</li>
	<li>Avg length: 11.33 s (12.38 + 3.00)</li>
	<li>Avg energy: 3.32 Wh (4.59 Wh)</li>
	</ul>
<li>Task performance:</li>
	<ul>
	<li>0.03 tasks/second</li>
	<ul>
		<li>High:   0.00 tasks/second</li>
		<li>Normal: 0.03 tasks/second</li>
	</ul>
	</ul>
<li>Job performance:</li>
	<ul>
	<li>10.03 jobs/hour</li>
	<li>$0.00/job</li>
	</ul>
<li>Replicated files: 0</li>
	<ul>
	<li>Start: 0</li>
	<li>Done: 0</li>
	</ul>
</ul>
Summary spreadsheet<br/>
0.04 0.53 0.00 0.04 0.00000 0.00 13.61 0.00 0.79 0.58 4.78 4.78 1.19 1 0.03 10.03 0 3.32<br/>
0.04 0.53 0.00 0.04 0.00000 0.00 13.61 0.00 0.79 0.58 4.78 4.78 1.19 1 0.03 10.03 0 3.32<br/>
