totalTime : 178
<ul>
<li>Energy consumption: 0.03 kWh (27.25 Wh)</li>
	<ul>
	<li>Green: 0.03 kWh (27.25/81.67 Wh 33.37%)</li>
	<li>Brown: 0.00 kWh (0.00 Wh)</li>
	<li>Idle: 0.01 kWh (5.70 Wh)</li>
	<li>Work: 0.02 kWh (21.55 Wh)</li>
	<li>Energy cost: $0.0000</li>
	<li>Peak power: 0.00 W (0.00 kW x $0.00/kW = $0.00)</li>
	<li>Total cost: $0.00 + $0.00 = $0.00</li>
	</ul>
<li>Nodes: 7</li>
	<ul>
	<li>Run:   0.00</li>
	<li>Up:    7.08</li>
	<li>On:    7.08</li>
	<li>Total: 7.00</li>
	<li>Utilization: 0.00%</li>
	</ul>
<li>Experiment duration: 178 s</li>
	<ul>
	<li>Utilization: 0.00% = 0.00 / 178.00x7x6</li>
	<li>Utilization maps: 0.00% = 0.00 / 178.00x7x4</li>
	</ul>
<li>Jobs: 0</li>
<li>Tasks: 0 (0 + 0)</li>
<li>Task performance:</li>
	<ul>
	<li>0.00 tasks/second</li>
	<ul>
		<li>High:   0.00 tasks/second</li>
		<li>Normal: 0.00 tasks/second</li>
	</ul>
	</ul>
<li>Job performance:</li>
	<ul>
	<li>0.00 jobs/hour</li>
	</ul>
<li>Replicated files: 0</li>
	<ul>
	<li>Start: 0</li>
	<li>Done: 0</li>
	</ul>
</ul>
totalTime : 179
<ul>
<li>Energy consumption: 0.03 kWh (27.40 Wh)</li>
	<ul>
	<li>Green: 0.03 kWh (27.40/82.06 Wh 33.39%)</li>
	<li>Brown: 0.00 kWh (0.00 Wh)</li>
	<li>Idle: 0.01 kWh (5.73 Wh)</li>
	<li>Work: 0.02 kWh (21.67 Wh)</li>
	<li>Energy cost: $0.0000</li>
	<li>Peak power: 0.00 W (0.00 kW x $0.00/kW = $0.00)</li>
	<li>Total cost: $0.00 + $0.00 = $0.00</li>
	</ul>
<li>Nodes: 7</li>
	<ul>
	<li>Run:   0.00</li>
	<li>Up:    7.08</li>
	<li>On:    7.08</li>
	<li>Total: 7.00</li>
	<li>Utilization: 0.00%</li>
	</ul>
<li>Experiment duration: 179 s</li>
	<ul>
	<li>Utilization: 0.00% = 0.00 / 179.00x7x6</li>
	<li>Utilization maps: 0.00% = 0.00 / 179.00x7x4</li>
	</ul>
<li>Jobs: 0</li>
<li>Tasks: 0 (0 + 0)</li>
<li>Task performance:</li>
	<ul>
	<li>0.00 tasks/second</li>
	<ul>
		<li>High:   0.00 tasks/second</li>
		<li>Normal: 0.00 tasks/second</li>
	</ul>
	</ul>
<li>Job performance:</li>
	<ul>
	<li>0.00 jobs/hour</li>
	</ul>
<li>Replicated files: 0</li>
	<ul>
	<li>Start: 0</li>
	<li>Done: 0</li>
	</ul>
</ul>
totalTime : 179
<ul>
<li>Energy consumption: 0.03 kWh (27.40 Wh)</li>
	<ul>
	<li>Green: 0.03 kWh (27.40/82.06 Wh 33.39%)</li>
	<li>Brown: 0.00 kWh (0.00 Wh)</li>
	<li>Idle: 0.01 kWh (5.73 Wh)</li>
	<li>Work: 0.02 kWh (21.67 Wh)</li>
	<li>Energy cost: $0.0000</li>
	<li>Peak power: 0.00 W (0.00 kW x $0.00/kW = $0.00)</li>
	<li>Total cost: $0.00 + $0.00 = $0.00</li>
	</ul>
<li>Nodes: 7</li>
	<ul>
	<li>Run:   0.00</li>
	<li>Up:    7.08</li>
	<li>On:    7.08</li>
	<li>Total: 7.00</li>
	<li>Utilization: 0.00%</li>
	</ul>
<li>Experiment duration: 179 s</li>
	<ul>
	<li>Utilization: 0.00% = 0.00 / 179.00x7x6</li>
	<li>Utilization maps: 0.00% = 0.00 / 179.00x7x4</li>
	</ul>
<li>Jobs: 0</li>
<li>Tasks: 0 (0 + 0)</li>
<li>Task performance:</li>
	<ul>
	<li>0.00 tasks/second</li>
	<ul>
		<li>High:   0.00 tasks/second</li>
		<li>Normal: 0.00 tasks/second</li>
	</ul>
	</ul>
<li>Job performance:</li>
	<ul>
	<li>0.00 jobs/hour</li>
	</ul>
<li>Replicated files: 0</li>
	<ul>
	<li>Start: 0</li>
	<li>Done: 0</li>
	</ul>
</ul>
