totalTime : 180
<ul>
<li>Energy consumption: 0.04 kWh (35.62 Wh)</li>
	<ul>
	<li>Green: 0.04 kWh (35.62/224.39 Wh 15.87%)</li>
	<li>Brown: 0.00 kWh (0.00 Wh)</li>
	<li>Idle: 0.01 kWh (5.76 Wh)</li>
	<li>Work: 0.03 kWh (29.86 Wh)</li>
	<li>Energy cost: $0.0000</li>
	<li>Peak power: 0.00 W (0.00 kW x $13.61/kW = $0.00)</li>
	<li>Total cost: $0.00 + $0.00 = $0.00</li>
	</ul>
<li>Nodes: 7</li>
	<ul>
	<li>Run:   3.59</li>
	<li>Up:    3.92</li>
	<li>On:    5.39</li>
	<li>Total: 7.00</li>
	<li>Utilization: 51.27%</li>
	</ul>
<li>Experiment duration: 180 s</li>
	<ul>
	<li>Utilization: 28.98% = 2556.00 / 180.00x7x7</li>
	<li>Utilization maps: 40.29% = 2538.00 / 180.00x7x5</li>
	</ul>
<li>Jobs: 2</li>
	<ul>
	<li>Run: 3</li>
	<li>Finished: 2/3</li>
	<li>Deadline actions: 0</li>
	<li>Violate (3600s): 0/3 (0s 0.00%)</li>
	<li>Avg tasks: 29.67 tasks/job</li>
	<li>Avg length: 852.00 seconds/job</li>
	<li>Avg energy: 9.95 Wh/job</li>
	<li>Avg total time: 101.00 seconds</li>
	<ul>
		<li>High: 0.00 seconds</li>
		<li>Normal: 101.00 seconds</li>
	</ul>
	</ul>
<li>Tasks: 89 (87 + 2)</li>
	<ul>
	<li>Running time: 2556 s (2538 + 18)</li>
	<li>Avg length: 28.72 s (29.17 + 9.00)</li>
	<li>Avg energy: 0.34 Wh (0.40 Wh)</li>
	</ul>
<li>Task performance:</li>
	<ul>
	<li>0.49 tasks/second</li>
	<ul>
		<li>High:   0.00 tasks/second</li>
		<li>Normal: 0.49 tasks/second</li>
	</ul>
	</ul>
<li>Job performance:</li>
	<ul>
	<li>40.00 jobs/hour</li>
	<li>$0.00/job</li>
	</ul>
<li>Replicated files: 0</li>
	<ul>
	<li>Start: 0</li>
	<li>Done: 0</li>
	</ul>
</ul>
Summary spreadsheet<br/>
0.04 0.22 0.00 0.04 0.00000 0.00 13.61 0.00 40.29 28.98 3.92 5.39 51.27 2 0.49 40.00 0 0.34<br/>
0.04 0.22 0.00 0.04 0.00000 0.00 13.61 0.00 40.29 28.98 3.92 5.39 51.27 2 0.49 40.00 0 0.34<br/>
