totalTime : 183
<ul>
<li>Energy consumption: 0.02 kWh (16.52 Wh)</li>
	<ul>
	<li>Green: 0.02 kWh (15.38/18.65 Wh 82.49%)</li>
	<li>Brown: 0.00 kWh (1.13 Wh)</li>
	<li>Idle: 0.01 kWh (5.86 Wh)</li>
	<li>Work: 0.01 kWh (10.66 Wh)</li>
	<li>Energy cost: $0.0001</li>
	<li>Peak power: 195.00 W (0.20 kW x $13.61/kW = $2.65)</li>
	<li>Total cost: $0.05 + $2.65 = $2.70</li>
	</ul>
<li>Nodes: 7</li>
	<ul>
	<li>Run:   0.90</li>
	<li>Up:    1.47</li>
	<li>On:    2.46</li>
	<li>Total: 7.00</li>
	<li>Utilization: 12.88%</li>
	</ul>
<li>Experiment duration: 183 s</li>
	<ul>
	<li>Utilization: 4.87% = 437.00 / 183.00x7x7</li>
	<li>Utilization maps: 6.82% = 437.00 / 183.00x7x5</li>
	</ul>
<li>Jobs: 0</li>
	<ul>
	<li>Run: 1</li>
	<li>Finished: 0/1</li>
	<li>Deadline actions: 0</li>
	<li>Violate (3600s): 0/1 (0s 0.00%)</li>
	<li>Avg tasks: 12.00 tasks/job</li>
	<li>Avg length: 437.00 seconds/job</li>
	<li>Avg energy: 10.66 Wh/job</li>
totalTime : 257
<ul>
<li>Energy consumption: 0.04 kWh (39.76 Wh)</li>
	<ul>
	<li>Green: 0.04 kWh (39.76/272.82 Wh 14.57%)</li>
	<li>Brown: 0.00 kWh (0.00 Wh)</li>
	<li>Idle: 0.01 kWh (8.22 Wh)</li>
	<li>Work: 0.03 kWh (31.54 Wh)</li>
	<li>Energy cost: $0.0000</li>
	<li>Peak power: 0.00 W (0.00 kW x $13.61/kW = $0.00)</li>
	<li>Total cost: $0.00 + $0.00 = $0.00</li>
	</ul>
<li>Nodes: 7</li>
	<ul>
	<li>Run:   0.12</li>
	<li>Up:    7.05</li>
	<li>On:    7.05</li>
	<li>Total: 7.00</li>
	<li>Utilization: 1.67%</li>
	</ul>
<li>Experiment duration: 257 s</li>
	<ul>
	<li>Utilization: 0.76% = 96.00 / 257.00x7x7</li>
	<li>Utilization maps: 1.03% = 93.00 / 257.00x7x5</li>
	</ul>
<li>Jobs: 1</li>
	<ul>
	<li>Run: 1</li>
	<li>Finished: 1/1</li>
	<li>Deadline actions: 0</li>
	<li>Violate (3600s): 0/1 (0s 0.00%)</li>
	<li>Avg tasks: 9.00 tasks/job</li>
	<li>Avg length: 96.00 seconds/job</li>
	<li>Avg energy: 31.54 Wh/job</li>
	<li>Avg total time: 26.00 seconds</li>
	<ul>
		<li>High: 0.00 seconds</li>
		<li>Normal: 26.00 seconds</li>
	</ul>
	</ul>
<li>Tasks: 9 (8 + 1)</li>
	<ul>
	<li>Running time: 96 s (93 + 3)</li>
	<li>Avg length: 10.67 s (11.62 + 3.00)</li>
	<li>Avg energy: 3.50 Wh (4.42 Wh)</li>
	</ul>
<li>Task performance:</li>
	<ul>
	<li>0.04 tasks/second</li>
	<ul>
		<li>High:   0.00 tasks/second</li>
		<li>Normal: 0.04 tasks/second</li>
	</ul>
	</ul>
<li>Job performance:</li>
	<ul>
	<li>14.01 jobs/hour</li>
	<li>$0.00/job</li>
	</ul>
<li>Replicated files: 0</li>
	<ul>
	<li>Start: 0</li>
	<li>Done: 0</li>
	</ul>
</ul>
Summary spreadsheet<br/>
0.04 0.27 0.00 0.04 0.00000 0.00 13.61 0.00 1.03 0.76 7.05 7.05 1.67 1 0.04 14.01 0 3.50<br/>
0.04 0.27 0.00 0.04 0.00000 0.00 13.61 0.00 1.03 0.76 7.05 7.05 1.67 1 0.04 14.01 0 3.50<br/>
