totalTime : 186
<ul>
<li>Energy consumption: 0.03 kWh (28.37 Wh)</li>
	<ul>
	<li>Green: 0.03 kWh (28.37/234.30 Wh 12.11%)</li>
	<li>Brown: 0.00 kWh (0.00 Wh)</li>
	<li>Idle: 0.01 kWh (5.95 Wh)</li>
	<li>Work: 0.02 kWh (22.42 Wh)</li>
	<li>Energy cost: $0.0000</li>
	<li>Peak power: 0.00 W (0.00 kW x $13.61/kW = $0.00)</li>
	<li>Total cost: $0.00 + $0.00 = $0.00</li>
	</ul>
<li>Nodes: 7</li>
	<ul>
	<li>Run:   0.15</li>
	<li>Up:    6.88</li>
	<li>On:    6.88</li>
	<li>Total: 7.00</li>
	<li>Utilization: 2.15%</li>
	</ul>
<li>Experiment duration: 186 s</li>
	<ul>
	<li>Utilization: 1.08% = 98.00 / 186.00x7x7</li>
	<li>Utilization maps: 1.44% = 94.00 / 186.00x7x5</li>
	</ul>
<li>Jobs: 1</li>
	<ul>
	<li>Run: 1</li>
	<li>Finished: 1/1</li>
	<li>Deadline actions: 0</li>
	<li>Violate (3600s): 0/1 (0s 0.00%)</li>
	<li>Avg tasks: 9.00 tasks/job</li>
	<li>Avg length: 98.00 seconds/job</li>
	<li>Avg energy: 22.42 Wh/job</li>
	<li>Avg total time: 26.00 seconds</li>
	<ul>
		<li>High: 0.00 seconds</li>
		<li>Normal: 26.00 seconds</li>
	</ul>
	</ul>
<li>Tasks: 9 (8 + 1)</li>
	<ul>
	<li>Running time: 98 s (94 + 4)</li>
	<li>Avg length: 10.89 s (11.75 + 4.00)</li>
	<li>Avg energy: 2.49 Wh (3.15 Wh)</li>
	</ul>
<li>Task performance:</li>
	<ul>
	<li>0.05 tasks/second</li>
	<ul>
		<li>High:   0.00 tasks/second</li>
		<li>Normal: 0.05 tasks/second</li>
	</ul>
	</ul>
<li>Job performance:</li>
	<ul>
	<li>19.35 jobs/hour</li>
	<li>$0.00/job</li>
	</ul>
<li>Replicated files: 0</li>
	<ul>
	<li>Start: 0</li>
	<li>Done: 0</li>
	</ul>
</ul>
Summary spreadsheet<br/>
0.03 0.23 0.00 0.03 0.00000 0.00 13.61 0.00 1.44 1.08 6.88 6.88 2.15 1 0.05 19.35 0 2.49<br/>
0.03 0.23 0.00 0.03 0.00000 0.00 13.61 0.00 1.44 1.08 6.88 6.88 2.15 1 0.05 19.35 0 2.49<br/>
