totalTime : 3624
<ul>
<li>Energy consumption: 0.38 kWh (378.85 Wh)</li>
	<ul>
	<li>Green: 0.24 kWh (240.89/885.49 Wh 27.20%)</li>
	<li>Brown: 0.14 kWh (137.97 Wh)</li>
	<li>Idle: 0.12 kWh (115.97 Wh)</li>
	<li>Work: 0.26 kWh (262.89 Wh)</li>
	<li>Energy cost: $0.0132</li>
	<li>Peak power: 545.00 W (0.55 kW x $13.61/kW = $7.42)</li>
	<li>Total cost: $4.75 + $7.42 = $12.17</li>
	</ul>
<li>Nodes: 7</li>
	<ul>
	<li>Run:   1.48</li>
	<li>Up:    1.90</li>
	<li>On:    2.49</li>
	<li>Total: 7.00</li>
	<li>Utilization: 21.20%</li>
	</ul>
<li>Experiment duration: 3624 s</li>
	<ul>
	<li>Utilization: 10.24% = 18186.00 / 3624.00x7x7</li>
	<li>Utilization maps: 11.02% = 13975.00 / 3624.00x7x5</li>
	</ul>
<li>Jobs: 3</li>
	<ul>
	<li>Run: 19</li>
	<li>Finished: 3/32</li>
	<li>Deadline actions: 0</li>
	<li>Violate (3600s): 0/21 (0s 0.00%)</li>
	<li>Avg tasks: 28.68 tasks/job</li>
	<li>Avg length: 957.16 seconds/job</li>
	<li>Avg energy: 13.84 Wh/job</li>
	<li>Avg total time: 1233.00 seconds</li>
	<ul>
		<li>High: 0.00 seconds</li>
		<li>Normal: 1233.00 seconds</li>
	</ul>
	</ul>
<li>Tasks: 545 (524 + 10)</li>
	<ul>
	<li>Running time: 18186 s (13975 + 21)</li>
	<li>Avg length: 33.37 s (26.67 + 2.10)</li>
	<li>Avg energy: 0.48 Wh (0.70 Wh)</li>
	</ul>
<li>Task performance:</li>
	<ul>
	<li>0.15 tasks/second</li>
	<ul>
		<li>High:   0.00 tasks/second</li>
		<li>Normal: 0.15 tasks/second</li>
	</ul>
	<li>3.92 tasks/hour / Wh</li>
	<li>41040.70 tasks/hour / $</li>
	</ul>
<li>Job performance:</li>
	<ul>
	<li>2.98 jobs/hour</li>
	<li>0.02 jobs/hour / Wh</li>
	<li>225.91 jobs/hour / $</li>
	<li>$4.06/job</li>
	</ul>
<li>Replicated files: 34</li>
	<ul>
	<li>Start: 52</li>
	<li>Done: 52</li>
	</ul>
</ul>
Summary spreadsheet<br/>
0.24 0.89 0.14 0.38 0.01319 0.55 13.61 7.42 11.02 10.24 1.90 2.49 21.20 3 0.15 2.98 0 0.48<br/>
0.24 0.89 0.14 0.38 0.01319 0.55 13.61 7.42 11.02 10.24 1.90 2.49 21.20 3 0.15 2.98 0 0.48<br/>
