totalTime : 179
<ul>
<li>Energy consumption: 0.03 kWh (34.76 Wh)</li>
	<ul>
	<li>Green: 0.03 kWh (34.76/223.22 Wh 15.57%)</li>
	<li>Brown: 0.00 kWh (0.00 Wh)</li>
	<li>Idle: 0.01 kWh (5.73 Wh)</li>
	<li>Work: 0.03 kWh (29.04 Wh)</li>
	<li>Energy cost: $0.0000</li>
	<li>Peak power: 0.00 W (0.00 kW x $13.61/kW = $0.00)</li>
	<li>Total cost: $0.00 + $0.00 = $0.00</li>
	</ul>
<li>Nodes: 7</li>
	<ul>
	<li>Run:   3.36</li>
	<li>Up:    4.46</li>
	<li>On:    5.46</li>
	<li>Total: 7.00</li>
	<li>Utilization: 48.04%</li>
	</ul>
<li>Experiment duration: 179 s</li>
	<ul>
	<li>Utilization: 29.68% = 2603.00 / 179.00x7x7</li>
	<li>Utilization maps: 41.18% = 2580.00 / 179.00x7x5</li>
	</ul>
<li>Jobs: 3</li>
	<ul>
	<li>Run: 3</li>
	<li>Finished: 3/4</li>
	<li>Deadline actions: 0</li>
	<li>Violate (3600s): 0/3 (0s 0.00%)</li>
	<li>Avg tasks: 33.00 tasks/job</li>
	<li>Avg length: 867.67 seconds/job</li>
	<li>Avg energy: 9.68 Wh/job</li>
	<li>Avg total time: 111.33 seconds</li>
	<ul>
		<li>High: 0.00 seconds</li>
		<li>Normal: 111.33 seconds</li>
	</ul>
	</ul>
<li>Tasks: 99 (96 + 3)</li>
	<ul>
	<li>Running time: 2603 s (2580 + 23)</li>
	<li>Avg length: 26.29 s (26.88 + 7.67)</li>
	<li>Avg energy: 0.29 Wh (0.35 Wh)</li>
	</ul>
<li>Task performance:</li>
	<ul>
	<li>0.55 tasks/second</li>
	<ul>
		<li>High:   0.00 tasks/second</li>
		<li>Normal: 0.55 tasks/second</li>
	</ul>
	</ul>
<li>Job performance:</li>
	<ul>
	<li>60.34 jobs/hour</li>
	<li>$0.00/job</li>
	</ul>
<li>Replicated files: 0</li>
	<ul>
	<li>Start: 0</li>
	<li>Done: 0</li>
	</ul>
</ul>
Summary spreadsheet<br/>
0.03 0.22 0.00 0.03 0.00000 0.00 13.61 0.00 41.18 29.68 4.46 5.46 48.04 3 0.55 60.34 0 0.29<br/>
0.03 0.22 0.00 0.03 0.00000 0.00 13.61 0.00 41.18 29.68 4.46 5.46 48.04 3 0.55 60.34 0 0.29<br/>
