totalTime : 3597
<ul>
<li>Energy consumption: 0.74 kWh (742.05 Wh)</li>
	<ul>
	<li>Green: 0.43 kWh (429.76/885.67 Wh 48.52%)</li>
	<li>Brown: 0.31 kWh (312.29 Wh)</li>
	<li>Idle: 0.12 kWh (115.10 Wh)</li>
	<li>Work: 0.63 kWh (626.95 Wh)</li>
	<li>Energy cost: $0.0307</li>
	<li>Peak power: 995.00 W (1.00 kW x $13.61/kW = $13.55)</li>
	<li>Total cost: $11.06 + $13.55 = $24.60</li>
	</ul>
<li>Nodes: 7</li>
	<ul>
	<li>Run:   4.10</li>
	<li>Up:    4.27</li>
	<li>On:    5.22</li>
	<li>Total: 7.00</li>
	<li>Utilization: 58.52%</li>
	</ul>
<li>Experiment duration: 3597 s</li>
	<ul>
	<li>Utilization: 40.26% = 60823.00 / 3597.00x7x6</li>
	<li>Utilization maps: 59.71% = 60137.00 / 3597.00x7x4</li>
	</ul>
<li>Jobs: 65</li>
	<ul>
	<li>Run: 66</li>
	<li>Finished: 65/105</li>
	<li>Deadline actions: 0</li>
	<li>Violate (3600s): 0/105 (0s 0.00%)</li>
	<li>Avg tasks: 32.86 tasks/job</li>
	<li>Avg length: 921.56 seconds/job</li>
	<li>Avg energy: 9.50 Wh/job</li>
	<li>Avg total time: 906.48 seconds</li>
	<ul>
		<li>High: 906.48 seconds</li>
		<li>Normal: 0.00 seconds</li>
	</ul>
	</ul>
<li>Tasks: 2169 (2104 + 65)</li>
	<ul>
	<li>Running time: 60823 s (60137 + 686)</li>
	<li>Avg length: 28.04 s (28.58 + 10.55)</li>
	<li>Avg energy: 0.29 Wh (0.34 Wh)</li>
	</ul>
<li>Task performance:</li>
	<ul>
	<li>0.60 tasks/second</li>
	<ul>
		<li>High:   0.60 tasks/second</li>
		<li>Normal: 0.00 tasks/second</li>
	</ul>
	<li>6.95 tasks/hour / Wh</li>
	<li>70680.56 tasks/hour / $</li>
	</ul>
<li>Job performance:</li>
	<ul>
	<li>65.05 jobs/hour</li>
	<li>0.21 jobs/hour / Wh</li>
	<li>2118.14 jobs/hour / $</li>
	<li>$0.38/job</li>
	</ul>
<li>Replicated files: 0</li>
	<ul>
	<li>Start: 0</li>
	<li>Done: 0</li>
	</ul>
</ul>
Summary spreadsheet<br/>
0.43 0.89 0.31 0.74 0.03071 1.00 13.61 13.55 59.71 40.26 4.27 5.22 58.52 65 0.60 65.05 0 0.29<br/>
0.43 0.89 0.31 0.74 0.03071 1.00 13.61 13.55 59.71 40.26 4.27 5.22 58.52 65 0.60 65.05 0 0.29<br/>
