totalTime : 923
<ul>
<li>Energy consumption: 0.19 kWh (188.69 Wh)</li>
	<ul>
	<li>Green: 0.19 kWh (188.69/1365.25 Wh 13.82%)</li>
	<li>Brown: 0.00 kWh (0.00 Wh)</li>
	<li>Idle: 0.03 kWh (29.54 Wh)</li>
	<li>Work: 0.16 kWh (159.16 Wh)</li>
	<li>Energy cost: $0.0000</li>
	<li>Peak power: 0.00 W (0.00 kW x $13.61/kW = $0.00)</li>
	<li>Total cost: $0.00 + $0.00 = $0.00</li>
	</ul>
<li>Nodes: 7</li>
	<ul>
	<li>Run:   2.58</li>
	<li>Up:    7.02</li>
	<li>On:    7.02</li>
	<li>Total: 7.00</li>
	<li>Utilization: 36.90%</li>
	</ul>
<li>Experiment duration: 923 s</li>
	<ul>
	<li>Utilization: 20.66% = 9344.00 / 923.00x7x7</li>
	<li>Utilization maps: 28.59% = 9237.00 / 923.00x7x5</li>
	</ul>
<li>Jobs: 10</li>
	<ul>
	<li>Run: 10</li>
	<li>Finished: 10/10</li>
	<li>Deadline actions: 0</li>
	<li>Violate (3600s): 0/10 (0s 0.00%)</li>
	<li>Avg tasks: 33.00 tasks/job</li>
	<li>Avg length: 934.40 seconds/job</li>
	<li>Avg energy: 15.92 Wh/job</li>
	<li>Avg total time: 230.50 seconds</li>
	<ul>
		<li>High: 0.00 seconds</li>
		<li>Normal: 230.50 seconds</li>
	</ul>
	</ul>
<li>Tasks: 330 (320 + 10)</li>
	<ul>
	<li>Running time: 9344 s (9237 + 107)</li>
	<li>Avg length: 28.32 s (28.87 + 10.70)</li>
	<li>Avg energy: 0.48 Wh (0.57 Wh)</li>
	</ul>
<li>Task performance:</li>
	<ul>
	<li>0.36 tasks/second</li>
	<ul>
		<li>High:   0.00 tasks/second</li>
		<li>Normal: 0.36 tasks/second</li>
	</ul>
	</ul>
<li>Job performance:</li>
	<ul>
	<li>39.00 jobs/hour</li>
	<li>$0.00/job</li>
	</ul>
<li>Replicated files: 0</li>
	<ul>
	<li>Start: 0</li>
	<li>Done: 0</li>
	</ul>
</ul>
Summary spreadsheet<br/>
0.19 1.37 0.00 0.19 0.00000 0.00 13.61 0.00 28.59 20.66 7.02 7.02 36.90 10 0.36 39.00 0 0.48<br/>
0.19 1.37 0.00 0.19 0.00000 0.00 13.61 0.00 28.59 20.66 7.02 7.02 36.90 10 0.36 39.00 0 0.48<br/>
