totalTime : 319
<ul>
<li>Energy consumption: 0.04 kWh (42.22 Wh)</li>
	<ul>
	<li>Green: 0.04 kWh (42.22/448.39 Wh 9.42%)</li>
	<li>Brown: 0.00 kWh (0.00 Wh)</li>
	<li>Idle: 0.01 kWh (10.21 Wh)</li>
	<li>Work: 0.03 kWh (32.01 Wh)</li>
	<li>Energy cost: $0.0000</li>
	<li>Peak power: 0.00 W (0.00 kW x $13.61/kW = $0.00)</li>
	<li>Total cost: $0.00 + $0.00 = $0.00</li>
	</ul>
<li>Nodes: 7</li>
	<ul>
	<li>Run:   0.11</li>
	<li>Up:    5.65</li>
	<li>On:    5.76</li>
	<li>Total: 7.00</li>
	<li>Utilization: 1.52%</li>
	</ul>
<li>Experiment duration: 319 s</li>
	<ul>
	<li>Utilization: 0.61% = 96.00 / 319.00x7x7</li>
	<li>Utilization maps: 0.83% = 93.00 / 319.00x7x5</li>
	</ul>
<li>Jobs: 1</li>
	<ul>
	<li>Run: 1</li>
	<li>Finished: 1/1</li>
	<li>Deadline actions: 0</li>
	<li>Violate (3600s): 0/1 (0s 0.00%)</li>
	<li>Avg tasks: 9.00 tasks/job</li>
	<li>Avg length: 96.00 seconds/job</li>
	<li>Avg energy: 32.01 Wh/job</li>
	<li>Avg total time: 24.00 seconds</li>
	<ul>
		<li>High: 0.00 seconds</li>
		<li>Normal: 24.00 seconds</li>
	</ul>
	</ul>
<li>Tasks: 9 (8 + 1)</li>
	<ul>
	<li>Running time: 96 s (93 + 3)</li>
	<li>Avg length: 10.67 s (11.62 + 3.00)</li>
	<li>Avg energy: 3.56 Wh (4.69 Wh)</li>
	</ul>
<li>Task performance:</li>
	<ul>
	<li>0.03 tasks/second</li>
	<ul>
		<li>High:   0.00 tasks/second</li>
		<li>Normal: 0.03 tasks/second</li>
	</ul>
	</ul>
<li>Job performance:</li>
	<ul>
	<li>11.29 jobs/hour</li>
	<li>$0.00/job</li>
	</ul>
<li>Replicated files: 0</li>
	<ul>
	<li>Start: 0</li>
	<li>Done: 0</li>
	</ul>
</ul>
Summary spreadsheet<br/>
0.04 0.45 0.00 0.04 0.00000 0.00 13.61 0.00 0.83 0.61 5.65 5.76 1.52 1 0.03 11.29 0 3.56<br/>
0.04 0.45 0.00 0.04 0.00000 0.00 13.61 0.00 0.83 0.61 5.65 5.76 1.52 1 0.03 11.29 0 3.56<br/>
