totalTime : 179
<ul>
<li>Energy consumption: 0.04 kWh (38.58 Wh)</li>
	<ul>
	<li>Green: 0.04 kWh (38.58/222.83 Wh 17.31%)</li>
	<li>Brown: 0.00 kWh (0.00 Wh)</li>
	<li>Idle: 0.01 kWh (5.73 Wh)</li>
	<li>Work: 0.03 kWh (32.85 Wh)</li>
	<li>Energy cost: $0.0000</li>
	<li>Peak power: 0.00 W (0.00 kW x $13.61/kW = $0.00)</li>
	<li>Total cost: $0.00 + $0.00 = $0.00</li>
	</ul>
<li>Nodes: 7</li>
	<ul>
	<li>Run:   3.96</li>
	<li>Up:    6.08</li>
	<li>On:    6.08</li>
	<li>Total: 7.00</li>
	<li>Utilization: 56.50%</li>
	</ul>
<li>Experiment duration: 179 s</li>
	<ul>
	<li>Utilization: 36.13% = 2716.00 / 179.00x7x6</li>
	<li>Utilization maps: 53.63% = 2688.00 / 179.00x7x4</li>
	</ul>
<li>Jobs: 3</li>
	<ul>
	<li>Run: 3</li>
	<li>Finished: 3/3</li>
	<li>Deadline actions: 0</li>
	<li>Violate (3600s): 0/3 (0s 0.00%)</li>
	<li>Avg tasks: 33.00 tasks/job</li>
	<li>Avg length: 905.33 seconds/job</li>
	<li>Avg energy: 10.95 Wh/job</li>
	<li>Avg total time: 105.33 seconds</li>
	<ul>
		<li>High: 0.00 seconds</li>
		<li>Normal: 105.33 seconds</li>
	</ul>
	</ul>
<li>Tasks: 99 (96 + 3)</li>
	<ul>
	<li>Running time: 2716 s (2688 + 28)</li>
	<li>Avg length: 27.43 s (28.00 + 9.33)</li>
	<li>Avg energy: 0.33 Wh (0.39 Wh)</li>
	</ul>
<li>Task performance:</li>
	<ul>
	<li>0.55 tasks/second</li>
	<ul>
		<li>High:   0.00 tasks/second</li>
		<li>Normal: 0.55 tasks/second</li>
	</ul>
	</ul>
<li>Job performance:</li>
	<ul>
	<li>60.34 jobs/hour</li>
	<li>$0.00/job</li>
	</ul>
<li>Replicated files: 0</li>
	<ul>
	<li>Start: 0</li>
	<li>Done: 0</li>
	</ul>
</ul>
Summary spreadsheet<br/>
0.04 0.22 0.00 0.04 0.00000 0.00 13.61 0.00 53.63 36.13 6.08 6.08 56.50 3 0.55 60.34 0 0.33<br/>
0.04 0.22 0.00 0.04 0.00000 0.00 13.61 0.00 53.63 36.13 6.08 6.08 56.50 3 0.55 60.34 0 0.33<br/>
