totalTime : 3599
<ul>
<li>Energy consumption: 0.82 kWh (823.24 Wh)</li>
	<ul>
	<li>Green: 0.66 kWh (662.57/2353.82 Wh 28.15%)</li>
	<li>Brown: 0.16 kWh (160.67 Wh)</li>
	<li>Idle: 0.12 kWh (115.17 Wh)</li>
	<li>Work: 0.71 kWh (708.08 Wh)</li>
	<li>Energy cost: $0.0156</li>
	<li>Peak power: 633.92 W (0.63 kW x $13.61/kW = $8.63)</li>
	<li>Total cost: $5.60 + $8.63 = $14.23</li>
	</ul>
<li>Nodes: 7</li>
	<ul>
	<li>Run:   4.80</li>
	<li>Up:    4.89</li>
	<li>On:    5.68</li>
	<li>Total: 7.00</li>
	<li>Utilization: 68.54%</li>
	</ul>
<li>Experiment duration: 3599 s</li>
	<ul>
	<li>Utilization: 47.35% = 71570.00 / 3599.00x7x6</li>
	<li>Utilization maps: 70.18% = 70721.00 / 3599.00x7x4</li>
	</ul>
<li>Jobs: 75</li>
	<ul>
	<li>Run: 77</li>
	<li>Finished: 75/105</li>
	<li>Deadline actions: 0</li>
	<li>Violate (3600s): 0/105 (0s 0.00%)</li>
	<li>Avg tasks: 32.56 tasks/job</li>
	<li>Avg length: 929.48 seconds/job</li>
	<li>Avg energy: 9.20 Wh/job</li>
	<li>Avg total time: 519.60 seconds</li>
	<ul>
		<li>High: 519.60 seconds</li>
		<li>Normal: 0.00 seconds</li>
	</ul>
	</ul>
<li>Tasks: 2507 (2432 + 75)</li>
	<ul>
	<li>Running time: 71570 s (70721 + 849)</li>
	<li>Avg length: 28.55 s (29.08 + 11.32)</li>
	<li>Avg energy: 0.28 Wh (0.33 Wh)</li>
	</ul>
<li>Task performance:</li>
	<ul>
	<li>0.70 tasks/second</li>
	<ul>
		<li>High:   0.70 tasks/second</li>
		<li>Normal: 0.00 tasks/second</li>
	</ul>
	<li>15.61 tasks/hour / Wh</li>
	<li>161216.34 tasks/hour / $</li>
	</ul>
<li>Job performance:</li>
	<ul>
	<li>75.02 jobs/hour</li>
	<li>0.47 jobs/hour / Wh</li>
	<li>4822.99 jobs/hour / $</li>
	<li>$0.19/job</li>
	</ul>
<li>Replicated files: 0</li>
	<ul>
	<li>Start: 0</li>
	<li>Done: 0</li>
	</ul>
</ul>
Summary spreadsheet<br/>
0.66 2.35 0.16 0.82 0.01555 0.63 13.61 8.63 70.18 47.35 4.89 5.68 68.54 75 0.70 75.02 0 0.28<br/>
0.66 2.35 0.16 0.82 0.01555 0.63 13.61 8.63 70.18 47.35 4.89 5.68 68.54 75 0.70 75.02 0 0.28<br/>
